{% extends 'main/base.html' %}
{% load i18n %}
{% load transcriptiones %}
{% load django_bootstrap_breadcrumbs %}

{% block page_title %}
    {% translate 'Login' %}
{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb _("Login") "" %}
{% endblock %}

{% block content %}
    {% card 'info_card' _('Registration Email sent') %}
    <div align="center">
        {% translate 'You have been successfully registered. You will receive a confirmation e-mail shortly.' %}
    </div>
    {% endcard %}
{% endblock %}