{% extends 'main/base.html' %}
{% load i18n %}
{% load transcriptiones %}
{% load django_bootstrap_breadcrumbs %}

{% block page_title %}
    {% translate 'Email Address Changed' %}
{%  endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb _("Email Address Changed") "" %}
{% endblock %}

{% block content %}

    {% card 'change_done_card' _('Your Email Address Has Been Changed') %}
        <div class="text-center">
            <p>
                {% blocktranslate with email_address=logged_out_user.email %}
                    Your email address has been changed to <strong>{{ email_address }}</strong>.
                    We sent an email to the new address and you have been logged out. Please log in again.
                {% endblocktranslate %}
            </p>
            <a href="{% url 'main:login' %}" class="btn btn-primary">{% translate 'Login' %}</a>
        </div>
    {% endcard %}

{% endblock %}