{% extends 'main/base.html' %}
{% load i18n %}
{% load transcriptiones %}
{% load crispy_forms_tags %}

{% block page_title %}
    {% translate 'Login' %}
{% endblock %}

{% block content %}

{% card 'login_Card' _('Login To Your Account') %}
    {% if next %}
        {% if user.is_authenticated %}
            <p>
                {% translate 'Your account has no access to this page. Please login with adifferent account.' %}
            </p>
        {% else %}
            <p>
                {% translate 'You need to be logged in, to view the requested page.' %}
            </p>
        {% endif %}
    {% endif %}

    {% if user.is_authenticated %}
        <p>{% translate 'You are already logged in.' %}</p>
        <div id="logout">
            <a class="btn btn-secondary" href="{% url 'main:logout' %}">{% translate 'Logout' %}</a>
        </div>
    {% else %}
         {% crispy form %}

        <p class="text-center text-muted">
            {% translate 'Forgot your password?' %} <a href="{% url 'main:password_reset' %}">{% translate 'Reset it here.' %}</a> &nbsp;|&nbsp;
            {% translate 'No user account?' %} <a href="{% url 'main:signup' %}">{% translate 'Register here.' %}</a>


        </p>

    {% endif %}

{% endcard %}

{% endblock content %}