{% extends 'main/base.html' %}
{% load i18n %}
{% load transcriptiones %}
{% load crispy_forms_tags %}
{% load django_bootstrap_breadcrumbs %}

{% block page_title %}
    {% translate 'Login' %}
{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb _("Login") "" %}
{% endblock %}

{% block content %}

{% card 'login_Card' _('Login To Your Account') %}
    <div align="center">
    {% if next %}
        {% if user.is_authenticated %}
            <p>
                {% translate 'Your account has no access to this page. Please login with adifferent account.' %}
            </p>
        {% else %}
            <p>
                {% translate 'You need to be logged in, to view the requested page.' %}
            </p>
        {% endif %}
    {% endif %}

    {% if user.is_authenticated %}
        <a class="btn btn-primary" href="{% url 'main:logout' %}">{% translate 'Logout' %}</a>
    {% else %}
         {% crispy form %}

        <p class="text-center text-muted">
            <span class="text-nowrap">{% translate 'Forgot your password?' %} <a href="{% url 'main:password_reset' %}">{% translate 'Reset it here.' %}</a></span> &nbsp;|&nbsp;
            <span class="text-nowrap">{% translate 'Forgot your username?' %} <a href="{% url 'main:username_request' %}">{% translate 'Find out here.' %}</a></span> &nbsp;|&nbsp;
            <span class="text-nowrap">{% translate 'No user account?' %} <a href="{% url 'main:signup' %}">{% translate 'Register here.' %}</a></span>
        </p>

    {% endif %}
    </div>

{% endcard %}

{% endblock content %}