{% extends 'base.html' %}
{% load i18n %}
{% load transcriptiones %}

{% block page_title %}
    {% translate 'Login' %}
{% endblock %}

{% block content %}

{% if form.errors %}
<p>Benutzername und Passwort stimmen nicht überein. Versuchen Sie es erneut.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
<p>
    Ihr Account hat keinen Zugriff auf diese Seite.
    Melden Sie sich mit einem berechtigten Account an.
</p>
    {% else %}
<p>Um diese Seite zu besuchen, müssen Sie angemeldet sein.</p>
    {% endif %}
{% endif %}

{% if user.is_authenticated %}
    <p>Sie sind bereits angemeldet.</p>
    <div id="logout">
        <a class="btn btn-secondary" href="{% url 'main:logout' %}">Abmelden</a>
    </div>
{% else %}

<div>
    <form method="post" action="{% url 'main:login' %}">
        {% csrf_token %}
        <div>
            <div class="fieldWrapper form-group row">
                <div class="col-sm-4">
                    {{ form.username.label_tag }}
                </div>
                <div class="col-sm-8">
                    {{ form.username }}
                </div>
                <div class="col-sm-4">
                    {{ form.password.label_tag }}
                </div>
                <div class="col-sm-8">
                    {{ form.password }}
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-secondary">Anmelden</button>
        <input type="hidden" name="next" value="{{ next }}">
    </form>
</div>

<div>
    Noch kein Benutzerkonto? <a href="{% url 'main:signup' %}">Hier registrieren!</a>
</div>

<div>
    <a href="{% url 'main:password_reset' %}">Passwort vergessen?</a>
</div>

{% endif %}



{% endblock content %}