{% extends 'main/base.html' %}
{% load i18n %}
{% load transcriptiones %}
{% load django_bootstrap_breadcrumbs %}

{% block page_title %}
    {% translate 'Logged out' %}
{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb _("Logout") "" %}
{% endblock %}

{% block content %}
    {% card 'logged_out_card' _('Logged out') %}
        <div class="text-center">
            <p>{% translate 'You have been securely logged out.' %}</p>
            <a href="{% url 'main:start' %}" class="btn btn-primary">{% translate 'Go to Main Page' %}</a>
            <a href="{% url 'main:login' %}" class="btn btn-primary">{% translate 'Login again' %}</a>
        </div>
    {% endcard %}
{% endblock %}
