{% extends 'main/base.html' %}
{% load static %}
{% load i18n %}
{% load transcriptiones %}
{% load render_table from django_tables2 %}
{% load django_bootstrap_breadcrumbs %}
{% load crispy_forms_tags %}

{% block page_title %}
    {% translate 'Messages' %}
{%  endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb _('Users') "" %}
    {% breadcrumb request.user.username "main:profile" %}
    {% breadcrumb _('Messages') '' %}
{% endblock %}

{% block content %}

    {% include 'main/users/user_options.html' %}

    {% card 'messages_card' _('Your Inbox') %}
        {% if table.data|length > 0 %}
             <p>
                 <button class="btn btn-danger btn-sm" type="button" id="do-delete-all">{% translate 'Delete all Messages' %}</button>
                 <a class="btn btn-primary btn-sm" href="{% url 'main:messages' %}" role="button"><i class="fas fa-sync"></i></a>
             </p>
            {% render_table table %}
        {% else %}
            {% translate 'You have no messages. You can send messages to users via their profile page.' %}
        {% endif %}
    {% endcard %}

    {% card 'message_options_card' _('Your Email Notification Options') %}
            <p>{% translate 'How do you want to to be notified if you receive messages?' %}</p>
            {% crispy form %}
    {% endcard %}

    {% include "bsmodals/confirm.html" %}
    {% include 'main/confirm_delete.html' %}
{% endblock %}

{% block extrascripts %}
    <script src="{% static 'bsmodals/bsmodals.js' %}"></script>
    <script>
        $(document).on('click', '.confirm-delete', function () {
            $("#confirmDeleteModal").attr("caller-id", $(this).attr("id"));
        });
        $(document).on('click', '#confirmDeleteButtonModal', function () {
            var caller = $("#confirmDeleteButtonModal").closest(".modal").attr("caller-id");
            window.location = $("#".concat(caller)).attr("href");
        });

        $(document).ready(function() {
            $('#do-delete-all').click(function () {
                bsmodals_confirm('Delete all messages?', ' Do you really want to delete all your messages? This cannot be undone.', (result) => {
                    if (result) {
                        location.href="{% url 'main:messages_delete_all' %}"

                    }
                }, yes_text = "Delete All", yes_style = "btn-danger", no_text = "Cancel", no_style = "btn-primary");
            });

            $('#do-delete').click(function () {
                bsmodals_confirm('Delete message?', ' Delete message? This cannot be undone.', (result) => {
                    if (result) {
                        location.href="{% url 'main:messages_delete' 'message' 1 %}"

                    }
                }, yes_text = "Delete", yes_style = "btn-danger", no_text = "Cancel", no_style = "btn-primary");
            });
        });
    </script>
{% endblock %}