{% extends 'main/base.html' %}
{% load i18n %}
{% load transcriptiones %}
{% load django_bootstrap_breadcrumbs %}

{% block page_title %}
    {% translate 'Password changed' %}
{%  endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb request.user.username "main:profile" %}
    {% breadcrumb _("Change password") "main:password_change" %}
{% endblock %}


{% block content %}
    {% card 'pw_changed_card' _('Password changed') %}
        <div align="center">
            {% translate 'Your password has been sucessfully changed.' %}<br/><br/>
            <a href="{% url 'main:start' %}" class="btn btn-primary" role="button">{% translate 'Go back to main page' %}</a>
        </div>
    {% endcard %}
{% endblock %}