{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load transcriptiones %}

{% block dependencies %}
<!-- Tooltipster Plugin -->
<script src="{% static 'base/vendor/tooltipster/dist/js/tooltipster.bundle.js' %}"></script>
<link rel="stylesheet" href="{% static 'base/vendor/tooltipster/dist/css/tooltipster.bundle.css' %}" />
<link rel="stylesheet" href="{% static 'base/vendor/tooltipster/dist/css/plugins/tooltipster/sideTip/themes/tooltipster-sideTip-punk.min.css' %}" />
{% endblock dependencies %}

{% block page_title %}
    {% translate 'Reset Password' %}
{%  endblock %}

{% block content %}

<form method="post">
    {% csrf_token %}
    <div class="fieldWrapper form-group row">
        {{ form.email.errors }}
        <div class="col-sm-3">
            <label for="{{ form.email.id_for_label }}" class="control-label">
                {{ form.email.label }}
            </label>
            <i class="fas fa-info-circle tooltipster" data-tooltip-content="#tt_emailprompt"></i>
        </div>
        <div class="col-sm-9">
            {{ form.email }}
            <span class="error"></span>
        </div>
    </div>
    <button type="submit" class="btn btn-secondary">Passwort zurücksetzen</button>
</form>

{% endblock %}

{% block javascript %}
<script src="{% static 'users/userscripts.js' %}"></script>
{% endblock javascript %}