{% extends 'main/base.html' %}
{% load static %}
{% load i18n %}
{% load transcriptiones %}
{% load crispy_forms_tags %}

{% block page_title %}
    {% translate 'Change Password' %}
{%  endblock %}

{% block additional_css %}
    <link rel="stylesheet" href="{% static 'main/vendor/tooltipster/dist/css/tooltipster.bundle.css' %}" />
    <link rel="stylesheet" href="{% static 'main/vendor/tooltipster/dist/css/plugins/tooltipster/sideTip/themes/tooltipster-sideTip-punk.min.css' %}" />
{% endblock %}

{% block javascript %}
    <!-- Tooltipster Plugin -->
    <script src="{% static 'main/vendor/tooltipster/dist/js/tooltipster.bundle.js' %}"></script>
    <script src="{% static 'main/js/upload_scripts.js' %}" charset="utf-8"></script>

    <!-- TODO CHECK! -->
    <script src="{% static 'users/userscripts.js' %}"></script>
{% endblock javascript %}


{% block content %}

    {% card 'change_password' _('Change Your Password') %}
        <form method="post" action="{% url 'main:password_change' %}">
            {% csrf_token %}
            {% for field in form %}
                {{ field|as_crispy_field }}
            {% endfor %}
            <button type="submit" class="btn btn-secondary">{%  translate 'Change Password' %}</button>
        </form>
    {% endcard %}

{% endblock %}
