{% extends 'main/base.html' %}
{% load static %}
{% load i18n %}
{% load transcriptiones %}
{% load crispy_forms_tags %}
{% load django_bootstrap_breadcrumbs %}

{% block page_title %}
    {% translate 'Change Password' %}
{%  endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Users" "" %}
    {% breadcrumb request.user.username "main:profile" %}
    {% breadcrumb _('Change Password') '' %}
{% endblock %}

{% block content %}

    {% include 'main/users/user_options.html' %}

    {% card 'change_password' _('Change your password') %}
        <form method="post" action="{% url 'main:password_change' %}">
            {% csrf_token %}
            {% for field in form %}
                {{ field|as_crispy_field }}
            {% endfor %}
            <label for="the_save_button" class="col-form-label col-sm-3">
                &nbsp;
            </label>
            <button type="submit" class="btn btn-primary">{%  translate 'Change Password' %}</button>
        </form>
    {% endcard %}

{% endblock %}
