{% extends 'main/base.html' %}
{% load i18n %}
{% load transcriptiones %}
{% load django_bootstrap_breadcrumbs %}

{% block page_title %}
    {% translate 'Password Reset' %}
{%  endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb _("Reset Password") "" %}
{% endblock %}

{% block content %}

    {% card 'reset_done_card' _('Your password has been reset') %}
         <div class="text-center">
            <p>{% translate 'Your password has been reset successfully.' %}</p>
            <a href="{% url 'main:login' %}" class="btn btn-primary">{% translate 'Login' %}</a>
        </div>
    {% endcard %}

{% endblock %}