{% extends 'main/base.html' %}
{% load i18n %}
{% load transcriptiones %}
{% load render_table from django_tables2 %}
{% load django_bootstrap_breadcrumbs %}

{% block page_title %}
    {% translate 'User ' %} {{ profile_user.username }}
{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Users" "" %}
    {% breadcrumb profile_user.username "main:about" %}
{% endblock %}


{% block content %}
    {% card 'user_profile_personal' _('User Data') %}
        {% render_table user_table %}
        {% if request.user.is_authenticated %}
            {% if request.user.id == profile_user.id %}
                <small>
                    {% url 'main:profile' as profile_url %}
                    {% blocktranslate %}
                    (This is you. Check your <a href="{{profile_url}}">Private Profile</a>)
                    {% endblocktranslate %}
                </small>
            {% else %}
                <a class="btn btn-primary btn-sm" href="{% url 'main:message_user' profile_user.username %}" role="button">Message this user</a>
                {% if subscribed %}
                    <a href="{% url 'main:unsubscribe_user' profile_user.pk %}" class="btn btn-primary btn-sm confirm-unsubscribe" data-toggle="modal" data-target="#confirmUnsubscribeModal" id="unsubscribeButtonXXX">{% translate 'Unsubscribe from this user' %}</a>
                {% else %}
                    <a class="btn btn-primary btn-sm" href="{% url 'main:subscribe_user' profile_user.pk %}" role="button">Subscribe to this user</a>
                {% endif %}
                <small>
                  {% url 'main:subscriptions' as sub_url %}
                  {% blocktranslate %}
                  (Manage your subscriptions <a href="{{sub_url}}">here</a>)
                  {% endblocktranslate %}
                </small>
            {% endif %}
        {% endif %}
    {% endcard %}

    {% card 'user_profile_activity' _('User Activity') %}
        {% include 'main/document_filter.html' %}
        {% render_table activity_table %}
    {% endcard %}

    {% include 'main/admin/confirm_unsubscribe.html' %}

{% endblock %}

{% block extrascripts %}
    <script>
        $(document).on('click', '.confirm-unsubscribe', function () {
            $("#confirmUnsubscribeModal").attr("caller-id", $(this).attr("id"));
        });
        $(document).on('click', '#confirmUnsubscribeButtonModal', function () {
            var caller = $("#confirmUnsubscribeButtonModal").closest(".modal").attr("caller-id");
            console.debug(caller);
            window.location = $("#".concat(caller)).attr("href");
        });
    </script>

    <script type="text/javascript" src="https://cdn.jsdelivr.net/gh/maxshuty/accessible-web-components@latest/dist/simpleRange.min.js"></script>

    <script>
        window.addEventListener('range-changed', (e) => {
            const data = e.detail;
            document.getElementById('doc_start_date').value = data.minRangeValue;
            document.getElementById('doc_end_date').value = data.maxRangeValue;
            console.log(data)
            // data = { sliderId: null, minRangeValue: 0, maxRangeValue: 1000 }
        });
    </script>
{% endblock %}