{% extends 'main/base.html' %}
{% load static %}
{% load i18n %}
{% load transcriptiones %}
{% load crispy_forms_tags %}
{% load django_bootstrap_breadcrumbs %}

{% block page_title %}
    {% translate 'Registration' %}
{%  endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb _("Register") "" %}
{% endblock %}

{% block content %}
    {% card 'signup_card' _('Register') %}
        {% if user.is_authenticated %}
            <p>{% translate 'You are already signed in.' %}</p>
            <div id="logout">
                <a class="btn btn-secondary" href="{% url 'main:logout' %}">{% translate 'Logout.' %}</a>
            </div>
        {% else %}

                {% crispy form %}


        {% endif %}
    {% endcard %}
{% endblock %}