{% extends 'main/base.html' %}
{% load static %}
{% load i18n %}
{% load transcriptiones %}
{% load crispy_forms_tags %}

{% block page_title %}
    {% translate 'Registration' %}
{%  endblock %}

{% block content %}
    {% card 'signup_card' _('Register') %}
        {% if user.is_authenticated %}
            <p>Sie sind bereits angemeldet.</p>
            <div id="logout">
                <a class="btn btn-secondary" href="{% url 'main:logout' %}">Abmelden</a>
            </div>
        {% else %}
            <form method="POST">
                {% csrf_token %}
                {% crispy form %}
                <button type="submit" class="btn btn-primary">{% translate 'Register' %}</button>
            </form>
        {% endif %}
    {% endcard %}
{% endblock %}