{% extends 'main/base.html' %}
{% load static %}
{% load i18n %}
{% load transcriptiones %}
{% load crispy_forms_tags %}
{% load django_bootstrap_breadcrumbs %}

{% block page_title %}
    {% translate 'Change User Profile' %}
{%  endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Users" "" %}
    {% breadcrumb request.user.username "main:profile" %}
    {% breadcrumb _('Update Profile') '' %}
{% endblock %}

{% block content %}

    {% include 'main/users/user_options.html' %}

    {% card 'update_user' _('Update Your User Information') %}
        <form method="post" action="{% url 'main:user_update' %}">
            {% csrf_token %}
            {% crispy form %}
            <button type="submit" class="btn btn-secondary">{% translate 'Save Changes' %}</button>
        </form>
    {% endcard %}

{% endblock %}
