{% extends 'main/base.html' %}
{% load i18n %}
{% load transcriptiones %}
{% load render_table from django_tables2 %}
{% load django_bootstrap_breadcrumbs %}

{% block page_title %}
    {% translate 'User Profile' %}
{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb _("Users") "" %}
    {% breadcrumb request.user.username "main:profile" %}
{% endblock %}

{% block content %}

    {% include 'main/users/user_options.html' %}

    {% card 'user_profile_personal' _('My Personal Data') %}
        {% render_table user_table %}
        {% if not user.api_auth_key %}
            {% translate 'You do not have an authentication key to use the API. You can generate one:' %} <a class="btn btn-sm btn-primary" href="{% url 'main:api_request' %}" role="button">{%  translate 'Generate An API Key' %}</a>
        {% else %}
            {% translate 'API keys are valid for one month. You can renew it for another month:' %} <a class="btn btn-sm btn-primary" href="{% url 'main:api_renew' %}" role="button">{%  translate 'Renew API Key' %}</a> <a class="btn btn-sm btn-danger" href="{% url 'main:api_delete' %}" role="button">{%  translate 'Delete API Key' %}</a>
        {% endif %}
    {% endcard %}

    <!-- TODO check table pagination -->
{% endblock %}

{% block extrascripts %}
    <script type="text/javascript" src="https://cdn.jsdelivr.net/gh/maxshuty/accessible-web-components@latest/dist/simpleRange.min.js"></script>

    <script>
        window.addEventListener('range-changed', (e) => {
            const data = e.detail;
            document.getElementById('doc_start_date').value = data.minRangeValue;
            document.getElementById('doc_end_date').value = data.maxRangeValue;
            console.log(data)
            // data = { sliderId: null, minRangeValue: 0, maxRangeValue: 1000 }
        });
    </script>
{% endblock %}