{% extends 'base.html' %}
{% load i18n %}
{% load transcriptiones %}
{% load render_table from django_tables2 %}

{% block page_title %}
    {% translate 'User Profile' %}
{% endblock %}

{% block content %}

    {% card 'user_profile_options' _('Options') %}
        <div align="center">
            <a href="{% url 'main:password_change' %}" class="btn btn-primary">{% translate 'Change Password' %}</a> &nbsp;
            <a href="{% url 'main:user_update' %}" class="btn btn-primary">{% translate 'Update Profile' %}</a> &nbsp;
            <a href="{% url 'main:logout' %}" class="btn btn-primary">{% translate 'Log Out' %}</a>
        </div>
    {% endcard %}

    {% card 'user_profile_personal' _('My Personal Data') %}
        {% render_table user_table %}
    {% endcard %}

    {% card 'user_profile_activity' _('My Activity') %}
        {% include 'main/filter.html' %}
        {% render_table activity_table %}
    {% endcard %}

    <!-- TODO check table pagination -->
{% endblock %}