{% load transcriptiones %}
{% load i18n %}

{% card 'user_profile_options' _('Options') %}
    <div class="btn-group">
  <button class="btn">Action</button>
  <button class="btn dropdown-toggle" data-toggle="dropdown">
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <!-- dropdown menu links -->
  </ul>
</div>
    
        <div class="text-center">
            <ul class="nav nav-pills">
              <li class="active"><a href="test">Home</a></li>
              <li class="nav-item"><a href="test">Buttons</a></li>
              <li class="nav-item"><a href="test" class="nav-link">Yakyak</a></li>
            </ul>
        </div>

    <nav class="nav nav-tabs">
    <a href="#" class="nav-item nav-link active">Home</a>
    <a href="#" class="nav-item nav-link">Profile</a>
    <a href="#" class="nav-item nav-link">Messages</a>
    <a href="#" class="nav-item nav-link disabled" tabindex="-1">Reports</a>
</nav>

    <nav class="nav nav-pills">


    <a href="#" class="nav-item nav-link"><i class="fas fa-user fa-xs"></i> Your Profile</a> &nbsp;
    <a href="#" class="nav-item nav-link btn-primary"><i class="fas fa-user fa-xs"></i> Your Public Profile</a> &nbsp;
    <a href="#" class="nav-item nav-link btn-secondary"><i class="fas fa-user fa-xs"></i> User</a> &nbsp;
    <a href="#" class="nav-item nav-link"><i class="fas fa-user fa-xs"></i> User</a> &nbsp;
    <a href="#" class="nav-item nav-link btn-secondary"><i class="fas fa-user fa-xs"></i> User</a> &nbsp;
    <a href="#" class="nav-item nav-link btn-secondary"><i class="fas fa-user fa-xs"></i> User</a> &nbsp;
    <a href="#" class="nav-item nav-link btn-secondary"><i class="fas fa-user fa-xs"></i> User</a> &nbsp;
    <a href="#" class="nav-item nav-link btn-secondary"><i class="fas fa-user fa-xs"></i> User</a> &nbsp;
    <a href="#" class="nav-item nav-link btn-secondary"><i class="fas fa-user fa-xs"></i> User</a> &nbsp;
    <a href="#" class="nav-item nav-link btn-secondary"><i class="fas fa-user fa-xs"></i> User</a> &nbsp;

</nav>

        <div class="text-center">
            <table width="100%">
                <tr>
                    <td style="text-align: center;">
                        <a href="{% url 'main:profile' %}" {% if request.resolver_match.url_name == 'profile' %}class="text-danger"{% endif %} title="{% translate 'Your Profile' %}"><i class="fas fa-user"></i></a>
                    </td>
                    <td style="text-align: center;">
                        <a href="{% url 'main:messages' %}" {% if request.resolver_match.url_name == 'messages' %}class="text-danger"{% endif %} title="{% translate 'Your message inbox' %}"><i class="fas fa-envelope-open"></i></a>
                    </td>
                    <td style="text-align: center;">
                        <a href="{% url 'main:notifications' %}" {% if request.resolver_match.url_name == 'notifications' %}class="text-danger"{% endif %} title="{% translate 'Your notifications' %}"><i class="fas fa-flag"></i></a>
                    </td>
                    <td style="text-align: center;">
                        <a href="{% url 'main:subscriptions' %}" {% if request.resolver_match.url_name == 'subscriptions' %}class="text-danger"{% endif %} title="{% translate 'Your subscriptions' %}"><i class="fas fa-bell"></i></a>
                    </td>
                </tr>
                <tr>
                    <td width="25%"><a href="{% url 'main:profile' %}" class="text-{% if request.resolver_match.url_name == 'profile' %}danger{% else %}muted{% endif %}"><p class="text-center small">{% translate 'Profile' %}</p></a></td>
                    <td width="25%"><a href="{% url 'main:messages' %}" class="text-{% if request.resolver_match.url_name == 'messages' %}danger{% else %}muted{% endif %}"><p class="text-center small">{% translate 'Messages' %}</p></td>
                    <td width="25%"><a href="{% url 'main:notifications' %}" class="text-{% if request.resolver_match.url_name == 'notifications' %}danger{% else %}muted{% endif %}"><p class="text-center small">{% translate 'Notifications' %}</p></a></td>
                    <td width="25%"><a href="{% url 'main:subscriptions' %}" class="text-{% if request.resolver_match.url_name == 'subscriptions' %}danger{% else %}muted{% endif %}"><p class="text-center small">{% translate 'Subscriptions' %}</p></a></td>
                </tr>
                <tr>
                    <td style="text-align: center;">
                        <a href="{% url 'main:password_change' %}" {% if request.resolver_match.url_name == 'password_change' %}class="text-danger"{% endif %} title="{% translate 'Change your password' %}"><i class="fas fa-key"></i></a>
                    </td>
                    <td style="text-align: center;">
                        <a href="{% url 'main:user_update' %}" {% if request.resolver_match.url_name == 'user_update' %}class="text-danger"{% endif %} title="{% translate 'Update your Profile information' %}"><i class="fas fa-user-edit"></i></a>
                    </td>
                    <td style="text-align: center;">
                        <a href="{% url 'main:public_profile' request.user.username %}" {% if request.resolver_match.url_name == 'public_profile' %}class="text-danger"{% endif %} title="{% translate 'View your public profile' %}"><i class="fas fa-user"></i></a>
                    </td>
                    <td style="text-align: center;">
                        <a href="{% url 'main:logout' %}" {% if request.resolver_match.url_name == 'logout' %}class="text-danger"{% endif %} title="{% translate 'Log out' %}"><i class="fas fa-sign-out-alt"></i></a>
                    </td>
                </tr>
                <tr>
                    <td><a href="{% url 'main:password_change' %}" class="text-{% if request.resolver_match.url_name == 'password_change' %}danger{% else %}muted{% endif %}"><p class="text-center small">{% translate 'Change Password' %}</p></a></td>
                    <td><a href="{% url 'main:user_update' %}" class="text-{% if request.resolver_match.url_name == 'user_update' %}danger{% else %}muted{% endif %}"><p class="text-center small">{% translate 'Edit Profile' %}</p></a></td>
                    <td><a href="{% url 'main:public_profile' request.user.username %}" class="text-{% if request.resolver_match.url_name == 'public_profile' %}danger{% else %}muted{% endif %}"><p class="text-center small">{% translate 'Public Profile' %}</p></a></td>
                    <td><a href="{% url 'main:logout' %}" class="text-{% if request.resolver_match.url_name == 'logout' %}danger{% else %}muted{% endif %}"><p class="text-center small">{% translate 'Logout' %}</p></a></td>
                </tr>
            </table>
        </div>
    {% endcard %}