{% load i18n %}

<div id="CookielawBanner">
    <div class="cookie-content">
        <div class="card">
  <div class="card-header">
    Transcriptiones Cookies
  </div>
  <div class="card-body">
    <h5 class="card-title">Transcriptiones Cookie Policy</h5>
      <p class="card-text">Transcriptiones saves session information to cookies to provide its service. We <strong>don't</strong> use any tracking mechanisms or 3rd party cookies. Please confirm that you received this information by pressing the button below.</p>
      <p>Learn more by reading our <a href="{% url 'main:tos' %}">Terms Of Service</a></p>
      <a href="javascript:Cookielaw.accept();" class="btn btn-primary">Accept necessary system cookies</a>

  </div>
</div>
    </div>
</div>
