{% extends "main/base.html" %}
{% load static %}
{% load i18n %}
{% load transcriptiones %}
{% load crispy_forms_tags %}

{% block additional_css %}
    <link rel="stylesheet" href="{% static 'main/vendor/tooltipster/dist/css/tooltipster.bundle.css' %}" />
    <link rel="stylesheet" href="{% static 'main/vendor/tooltipster/dist/css/plugins/tooltipster/sideTip/themes/tooltipster-sideTip-punk.min.css' %}" />

    <!-- Stylesheet for Form validation. -->
    <link rel="stylesheet" href="{% static 'main/css/form_validation.css' %}" />

    <!-- BS modals -->
    <script src="{% static 'js/jquery.bootstrap.modal.forms.js' %}"></script>

    <!-- Select2 Bootstrap4 Theme
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@ttskch/select2-bootstrap4-theme@1.4.0/dist/select2-bootstrap4.min.css" />
     -->
{% endblock %}

{% block additional_javascript %}


    <!-- Tooltipster Plugin -->
    <script src="{% static 'main/vendor/tooltipster/dist/js/tooltipster.bundle.js' %}"></script>

    <!-- Select2
    <script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/i18n/de.js"></script>
    -->

{% endblock %}

{% block page_title %}
    {% translate 'Upload Transcript' %}
{% endblock %}

{% block content %}
    <form action="{% url 'main:upload_document' %}" method="POST" id="documentForm"
          dep-ref-url="{% url 'main:ajax_load_ref_numbers' %}"
          modal-inst-url="{% url 'main:institution_add' %}"
          modal-ref-url="{% url 'main:ref_number_add' %}" class="needs-validation" novalidate>

        {% csrf_token %}
        {{ form.media }}

        {% card 'upload_required' _('Required Information') %}
            {{ form.title_name|as_crispy_field }}
            {{ form.parent_institution|as_crispy_field }}
            {{ form.parent_ref_number|as_crispy_field }}
            {{ form.transcription_scope|as_crispy_field }}
            {{ form.doc_start_date|as_crispy_field }}
            {{ form.doc_end_date|as_crispy_field }}
            {{ form.place_name|as_crispy_field }}
            {{ form.source_type_parent|as_crispy_field }}
            {{ form.source_type_child|as_crispy_field }}
        {% endcard %}

        {% card 'upload_transcript' _('Transcript') %}
            {{ form.transcription_text }}
        {% endcard %}

        {% card 'upload_metadata' _('Content Meta Data') %}
            {{ form.author|as_crispy_field }}
            {{ form.language|as_crispy_field }}
        {% endcard %}

        {% card 'upload_description' _('Manuscript Description') %}
            {{ form.material|as_crispy_field }}
            {{ form.measurements_length|as_crispy_field }}
            {{ form.measurements_width|as_crispy_field }}
            {{ form.pages|as_crispy_field }}
            {{ form.paging_system|as_crispy_field }}
            {{ form.illuminated|as_crispy_field }}
            {{ form.seal|as_crispy_field }}
        {% endcard %}

        {% card 'upload_comments' _('Comments and Links') %}
            {{ form.comments|as_crispy_field }}
            {{ form.publish_user|as_crispy_field }}
        {% endcard %}

        <button type="button" class="btn btn-secondary" id="submitButtonDocument">{% translate 'Upload' %}</button>
</form>


<!-- Define institutionModal. Does the modal div need to be in this file? -->
<div class="modal fade" id="institutionModal" tabindex="-1" role="dialog" aria-labelledby="institutionModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">

        </div>
    </div>
</div>

<!-- Define refNumberModal. Does the modal div need to be in this file? -->
<div class="modal fade" id="refNumberModal" tabindex="-1" role="dialog" aria-labelledby="refNumberModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
        </div>
    </div>
</div>

<!-- Define confirmationModal-->
<div class="modal fade" id="confirmationModal" tabindex="-1" role="dialog" aria-labelledby="confirmationModalLabel" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmationModalLabel">Bitte überprüfen Sie Ihre Angaben</h5>
            </div>
            <div class="modal-body" style="display: block">
                <div class="col-sm">
                    <div class="row">
                        <h5 id="confirmationModalIntro">
                            Folgende von Ihnen angegebenen Personen sind noch nicht in unserer Datenbank. Möchten Sie diese zur Datenbank hinzufügen?
                        </h5>
                    </div>
                </div>
                <div class="col-sm">
                    <ul id="authorList">

                    </ul>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="submitButtonAuthor">Bestätigen</button>
                <button type="button" class="btn btn-light" id="closeButtonAuthor">Abbrechen</button>
            </div>
        </div>
    </div>
</div>

<div class="container" id="smallnote">
    <p>
        {% translate 'Required fields are marked with an asterisk (*).' %}
    </p>
</div>


{% endblock content %}

{% block javascript %}
    <script type="text/javascript">
        $(document).ready(function() {

            $("#create-book").modalForm({
                formURL: "{% url 'main:institution_add' %}"
            });

        });
    </script>
{% endblock %}