{% extends 'main/base.html' %}
{% load crispy_forms_tags %}
{% load transcriptiones %}
{% load i18n %}
{% load django_bootstrap_breadcrumbs %}

{% block page_title %}
    {% translate 'Upload Large Amount Of Transcriptions' %}
{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Upload" "main:upload_options" %}
    {% breadcrumb "Upload Batch" "" %}
{% endblock %}

{% block content %}
    {% card 'batch_card' _('Upload Batch') %}
        <p>
            {% translate "We would like to help you bring your transcriptions online as easy as possible. Please fill out the following form and we'll be in touch!" %}
        </p>
        {% crispy form %}
    {% endcard %}
{% endblock content %}

{% block extrascripts %}

{% endblock extrascripts %}
