{% extends 'main/base.html' %}
{% load crispy_forms_tags %}
{% load transcriptiones %}
{% load i18n %}
{% load django_bootstrap_breadcrumbs %}

{% block page_title %}
    {% translate 'Upload Transcription' %}
{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb _("Upload") "main:upload_options" %}
    {% breadcrumb _("Upload Single Page") "" %}
{% endblock %}

{% block content %}
    {% include "main/upload/_modal.html" %}

    <form action="{% url 'main:upload_document' %}" method="post">
        {% csrf_token %}
        {% card 'upload_required' _('Required Information') %}
            {{ form.title_name|as_crispy_field }}

            <div class="form-row">
                <div class="form-group col-sm-3">
                    {% get_tooltip_html 'document' 'parent_institution' %}*
                </div>
                <div class="form-group col-sm-7">
                    {{ form.parent_institution }}
                    {% get_help_text_html 'document' 'parent_institution' %}
                </div>
                <div class="form-group col-sm-2">
                    <button id="create-inst-async" class="btn btn-primary" style="width: 100%;" type="button" name="button"><span class="fa fa-plus mr-2"></span>{% translate "Add" %}</button>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-sm-3">
                    {% get_tooltip_html 'document' 'parent_ref_number' %}*
                </div>
                <div class="form-group col-sm-7">
                    {{ form.parent_ref_number }}
                    {% get_help_text_html 'document' 'parent_ref_number' %}
                </div>
                <div class="form-group col-sm-2">
                    <button id="create-refn-async" class="btn btn-primary" style="width: 100%;" type="button" name="button"><span class="fa fa-plus mr-2"></span>{% translate "Add" %}</button>
                </div>
            </div>

            {{ form.transcription_scope|as_crispy_field }}
            {{ form.doc_start_date|as_crispy_field }}
            {{ form.doc_end_date|as_crispy_field }}
            {{ form.place_name|as_crispy_field }}

            <div class="form-row">
                <div class="form-group col-sm-3">
                    {% get_tooltip_html 'document' 'selection_helper_source_type' %}*
                </div>
                <div class="form-group col-sm-9">
                    {{ form.selection_helper_source_type }}
                    {% get_help_text_html 'document' 'selection_helper_source_type' %}
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-sm-3">
                    {% get_tooltip_html 'document' 'source_type' %}*
                </div>
                <div class="form-group col-sm-9">
                    {{ form.source_type }}
                    {% get_help_text_html 'document' 'source_type' %}
                </div>
            </div>

        {% endcard %}

        {% card 'upload_transcript' _('Transcript') %}
            <p>
                {% url 'main:guidelines' as guide_url %}
                {% blocktranslate with guide_url=guide_url %}
                    Your transcription goes into the following text field. You can copy and paste an existing
                    transcription from a variety of text and spreadsheet formats. This will preserve most formatting,
                    including tables and footnotes. Or you can type directly in the editor. Further instructions and
                    guidelines for using the upload form can be found <a class="strong_link" href="{{ guide_url }}">here</a>.<br/>
                    In order to achieve some degree of uniformity, we recommend following the basic rules
                    according to Ad fontes: "The text should be followed as exactly as possible, so that the text layers
                    of the source are recognizable. The transcription should reproduce the linguistic (including
                    orthographic) form of the original, and not just the historical-factual content." The complete
                    guidelines of Ad fontes can be found <a class="strong_link" href="https://www.adfontes.uzh.ch/en/tutorium/schriften-lesen/transkriptionsregeln">here</a>.
                {% endblocktranslate %}
            </p>
            {{ form.transcription_text }}
        {% endcard %}

        {% card 'upload_metadata' _('Content Metadata') %}
            <div class="form-row">
                <div class="form-group col-sm-3">
                    {% get_tooltip_html 'document' 'author' %}*
                </div>
                <div class="form-group col-sm-9">
                    {{ form.author }}
                    {% get_help_text_html 'document' 'author' %}
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-sm-3">
                    {% get_tooltip_html 'document' 'language' %}*
                </div>
                <div class="form-group col-sm-9">
                    {{ form.language }}
                    {% get_help_text_html 'document' 'language' %}
                </div>
            </div>

        {% endcard %}

        {% card 'upload_description' _('Manuscript Description') %}
            {{ form.material|as_crispy_field }}
            {{ form.measurements_length|as_crispy_field }}
            {{ form.measurements_width|as_crispy_field }}
            {{ form.pages|as_crispy_field }}
            {{ form.paging_system|as_crispy_field }}
            {{ form.illuminated|as_crispy_field }}
            {{ form.seal|as_crispy_field }}
        {% endcard %}

        {% card 'upload_comments' _('Comments and Links') %}
            {{ form.comments|as_crispy_field }}
            {{ form.publish_user|as_crispy_field }}
        {% endcard %}

        <table style="display: none">
            {{ view.formset.empty_form }}
        </table>

        <table>
            {{ view.formset }}
        </table>

        {% card 'upload_upload' _('Upload Your Transcription') %}
            <div class="text-center">
            <p>{% translate "If you're done entering your information, you can upload the document." %} </p>
                {{ form.accept_tos|as_crispy_field }}
                <input type="submit" value="{% translate 'Upload Transcription' %}" class="btn btn-primary">
            </div>
        {% endcard %}
    </form>

    {{ form.media }}

{% endblock content %}

{% block extrascripts %}
    <script>
        $(document).ready(function() {
            /////////////////////////////////////////////////////////////
            // RESETS THE REF NUMBER DROPDOWN WHEN THE INSTITUTION CHANGES
            $(':input[name$=parent_institution]').on('change', function() {
                // Get the field prefix, ie. if this comes from a formset form
                let prefix = $(this).getFormPrefix();
                $('#id_parent_ref_number').prop('disabled', false)
                $('#create-refn-async').prop('disabled', false)

                // Clear the autocomplete with the same prefix
                $(':input[name=' + prefix + 'parent_ref_number]').val(null).trigger('change');

                var old_element = document.getElementById("create-refn-async");
                var new_element = old_element.cloneNode(true);
                old_element.parentNode.replaceChild(new_element, old_element);
                createRefNumberAsyncModalForm();
            });

            // Disable the Ref number if nothing is selected
            if ($('#id_parent_institution').children().length < 2) {
                $('#id_parent_ref_number').prop('disabled', true);
                $('#create-refn-async').prop('disabled', true);
            };

            /////////////////////////////////////////////////////////////
            // RESETS THE SOURCE TYPE DROPDOWN WHEN THE PARENT TYPE CHANGES
            $(':input[name$=selection_helper_source_type]').on('change', function() {
                // Get the field prefix, ie. if this comes from a formset form
                let prefix = $(this).getFormPrefix();
                $('#id_source_type').prop('disabled', false)
                // Clear the autocomplete with the same prefix
                $(':input[name=' + prefix + 'source_type]').val(null).trigger('change');
            });

            // Disable child source_type before anything has been selected
            if ($('#id_selection_helper_source_type').children().length < 2) {
                $('#id_source_type').prop('disabled', true);
            };

            /////////////////////////////////////////////////////////////
            // CREATE INSTITUTION BUTTONS
            let asyncInstitutionSuccessMessageCreate = [
                "<div ",
                "class='async-create-message alert alert-icon alert-success alert-dismissible fade show mb-0' role='alert'>",
                "{% translate 'Success: Institution was created.' %}",
                "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>",
                "<span aria-hidden='true'>&times;</span>",
                "</button>",
                "</div>",
                "<script>",
                "$('.alert').fadeTo(2000, 500).slideUp(500, function () {$('.alert').slideUp(500).remove();});",
                "<\/script>"
              ].join("");

            function createInstitutionAsyncModalForm() {
                $("#create-inst-async").modalForm({
                    formURL: "{% url 'main:create_inst' %}",
                    modalID: "#create-modal",
                    asyncUpdate: true,
                    asyncSettings: {
                      closeOnSubmit: true,
                      successMessage: asyncInstitutionSuccessMessageCreate,
                      dataUrl: "{% url 'main:insts' %}",
                      dataElementId: "#id_parent_institution",
                      dataKey: "select",
                      addModalFormFunction: reinstantiateInstitutionModalForms
                    }
                });
            }
            createInstitutionAsyncModalForm();

            function reinstantiateInstitutionModalForms() {
                createInstitutionAsyncModalForm();
                let parent_inst_select = $('#id_parent_institution');
                $.ajax({
                    type: 'GET',
                    url: '{% url 'main:inst-autocomplete-id' %}'
                }).then(function (data) {
                    // create the option and append to Select2
                    let option = new Option(data.text, data.id, true, true);
                    parent_inst_select.append(option).trigger('change');

                    // manually trigger the `select2:select` event
                    parent_inst_select.trigger({
                        type: 'select2:select',
                        params: {
                            data: data
                        }
                    });
                });
            }

            /////////////////////////////////////////////////////////////
            // CREATE REF-NUMBER BUTTONS
            let asyncRefNumberSuccessMessageCreate = [
                "<div ",
                "class='async-create-message alert alert-icon alert-success alert-dismissible fade show mb-0' role='alert'>",
                "{% translate 'Success: RefNumber was created.' %}",
                "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>",
                "<span aria-hidden='true'>&times;</span>",
                "</button>",
                "</div>",
                "<script>",
                "$('.alert').fadeTo(2000, 500).slideUp(500, function () {$('.alert').slideUp(500).remove();});",
                "<\/script>"
              ].join("");

            function createRefNumberAsyncModalForm() {
                $("#create-refn-async").modalForm({
                    formURL: "{% url 'main:create_refn' %}?institution="+$('#id_parent_institution').select2('data')[0].id,
                    modalID: "#create-modal",
                    asyncUpdate: true,
                    asyncSettings: {
                      closeOnSubmit: true,
                      successMessage: asyncRefNumberSuccessMessageCreate,
                      dataUrl: "{% url 'main:refns' %}",
                      dataElementId: "#id_parent_ref_number",
                      dataKey: "select",
                      addModalFormFunction: reinstantiateRefNumberModalForms
                    }
                });
            }
            //createRefNumberAsyncModalForm();

            function reinstantiateRefNumberModalForms() {
                createRefNumberAsyncModalForm();
                let parent_ref_select = $('#id_parent_ref_number');
                $.ajax({
                    type: 'GET',
                    url: '{% url 'main:refn-autocomplete-id' %}'
                }).then(function (data) {
                    // create the option and append to Select2
                    let option = new Option(data.text, data.id, true, true);
                    parent_ref_select.append(option).trigger('change');

                    // manually trigger the `select2:select` event
                    parent_ref_select.trigger({
                        type: 'select2:select',
                        params: {
                            data: data
                        }
                    });
                });
            }


            $("#id_title_name").on("change paste keyup", function() {
                let length = $(this).val().length;
                $('#hint_id_title_name').text(`(${length}/{% translate '200 characters used' %})`);
            });

        });
    </script>

    <script>

  </script>

{% endblock extrascripts %}
