{% load widget_tweaks %}
{% load crispy_forms_tags %}
{% load i18n %}

<form method="post" action="">
  {% csrf_token %}

  <div class="modal-header">
    <h3 class="modal-title">{% translate 'Create Institution' %}</h3>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
      {% crispy form %}
  </div>

  <div class="modal-footer">
    <button type="submit" class="btn btn-primary">Create</button>
  </div>

</form>

<script>
    $('.alert').hide().fadeIn(500).delay(8000).fadeOut(500);

    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>