{% extends "main/base.html" %}
{% load static %}
{% load i18n %}
{% load transcriptiones %}
{% load django_bootstrap_breadcrumbs %}
{% load crispy_forms_tags %}
{% load render_table from django_tables2 %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb _("Institutions") "main:institution_list" %}
    {% breadcrumb document.parent_ref_number.holding_institution document.parent_ref_number.holding_institution.get_absolute_url %}
    {% breadcrumb document.parent_ref_number document.parent_ref_number.get_absolute_url %}
    {% breadcrumb document.title_name document.get_absolute_url %}
    {% breadcrumb _('Edit metadata') '' %}
{% endblock %}

{% block page_title %}
    {{ document.title_name }} - {% translate 'Edit Metadata' %}
{% endblock %}

{% block content %}

    {% card 'edit_meta_overview' _('Overview') %}
        {% render_table table %}
    {% endcard %}

    <form action="" method="post">
        {% csrf_token %}

        {% card 'edit_meta_form_2' _('Content Fields') %}
            {{ form.transcription_scope|as_crispy_field }}
            {{ form.doc_start_date|as_crispy_field }}
            {{ form.doc_end_date|as_crispy_field }}
            {{ form.place_name|as_crispy_field }}
            {{ form.selection_helper_source_type|as_crispy_field }}
            {{ form.source_type|as_crispy_field }}

            {{ form.author|as_crispy_field }}
            {{ form.language|as_crispy_field }}
        {% endcard %}

        {% card 'edit_meta_form_3' _('Manuscript description') %}
            {{ form.material|as_crispy_field }}
            {{ form.measurements_length|as_crispy_field }}
            {{ form.measurements_width|as_crispy_field }}
            {{ form.pages|as_crispy_field }}
            {{ form.paging_system|as_crispy_field }}
            {{ form.illuminated|as_crispy_field }}
            {{ form.seal|as_crispy_field }}
        {% endcard %}

        {% card 'edit_transcript_commit_message' _('Document your changes') %}
            {{ form.commit_message|as_crispy_field }}
        {% endcard %}

        {% card 'save_edit' _('Save Your Changes') %}
            <div class="text-center">
            <p>{% translate "If you're done changing the metadata, you can save the document." %} </p>
                <input type="submit" value="{% translate 'Save Changes' %}" class="btn btn-primary">
            </div>
        {% endcard %}
    </form>

    {{ form.media }}

{% endblock content %}
