{% extends "main/base.html" %}
{% load static %}
{% load i18n %}
{% load transcriptiones %}
{% load django_bootstrap_breadcrumbs %}
{% load crispy_forms_tags %}
{% load render_table from django_tables2 %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb _("Institutions") "main:institution_list" %}
    {% breadcrumb document.parent_ref_number.holding_institution document.parent_ref_number.holding_institution.get_absolute_url %}
    {% breadcrumb document.parent_ref_number document.parent_ref_number.get_absolute_url %}
    {% breadcrumb document.title_name document.get_absolute_url %}
    {% breadcrumb _('Edit metadata') '' %}
{% endblock %}

{% block page_title %}
    {{ document.title_name }} - {% translate 'Edit Metadata' %}
{% endblock %}

{% block content %}

    {% card 'edit_meta_overview' _('Overview') %}
        {% render_table table %}
    {% endcard %}

    <form action="" method="post">
        {% csrf_token %}

        {% card 'edit_meta_form_2' _('Content Metadata') %}
            {{ form.transcription_scope|as_crispy_field }}
            {{ form.doc_start_date|as_crispy_field }}
            {{ form.doc_end_date|as_crispy_field }}
            {{ form.place_name|as_crispy_field }}

            <div class="form-row">
                <div class="form-group col-sm-3">
                    {% get_tooltip_html 'document' 'selection_helper_source_type' %}*
                </div>
                <div class="form-group col-sm-9">
                    {{ form.selection_helper_source_type }}
                    {% get_help_text_html 'document' 'selection_helper_source_type' %}
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-sm-3">
                    {% get_tooltip_html 'document' 'source_type' %}*
                </div>
                <div class="form-group col-sm-9">
                    {{ form.source_type }}
                    {% get_help_text_html 'document' 'source_type' %}
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-sm-3">
                    {% get_tooltip_html 'document' 'author' %}*
                </div>
                <div class="form-group col-sm-9">
                    {{ form.author }}
                    {% get_help_text_html 'document' 'author' %}
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-sm-3">
                    {% get_tooltip_html 'document' 'language' %}*
                </div>
                <div class="form-group col-sm-9">
                    {{ form.language }}
                    {% get_help_text_html 'document' 'language' %}
                </div>
            </div>
        {% endcard %}

        {% card 'edit_meta_form_3' _('Manuscript Description') %}
            {{ form.material|as_crispy_field }}
            {{ form.measurements_length|as_crispy_field }}
            {{ form.measurements_width|as_crispy_field }}
            {{ form.pages|as_crispy_field }}
            {{ form.paging_system|as_crispy_field }}
            {{ form.illuminated|as_crispy_field }}
            {{ form.seal|as_crispy_field }}
        {% endcard %}

        {% card 'edit_transcript_commit_message' _('Document your changes') %}
            {{ form.commit_message|as_crispy_field }}
        {% endcard %}

        {% card 'save_edit' _('Save Your Changes') %}
            <div class="text-center">
            <p>{% translate "If you're done changing the metadata, you can save the document." %} </p>
                <input type="submit" value="{% translate 'Save Changes' %}" class="btn btn-primary">
            </div>
        {% endcard %}
    </form>

    {{ form.media }}

{% endblock content %}
