{% extends "main/base.html" %}
{% load static %}
{% load i18n %}
{% load transcriptiones %}
{% load crispy_forms_tags %}
{% load django_bootstrap_breadcrumbs %}

{% block page_title %}
    {% translate 'Export document' %}
{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb _("Institutions") "main:institution_list" %}
    {% breadcrumb document.parent_ref_number.holding_institution document.parent_ref_number.holding_institution.get_absolute_url %}
    {% breadcrumb document.parent_ref_number document.parent_ref_number.get_absolute_url %}
    {% breadcrumb document.title_name document.get_absolute_url %}
    {% breadcrumb _('Export Document') '' %}
{% endblock %}

{% block content %}
    {% card 'user_profile_options' _('Options') %}
        <p>
            You can export the transcriptions in different formats. Please choose below:
        </p>
        <div align="center">
            <form method="POST">
                {% csrf_token %}
                <button type="submit" class="btn btn-primary" name="export_tei">{%  translate 'Export TEI' %}</button>
                <button type="submit" class="btn btn-primary" name="export_json">{%  translate 'Export JSON' %}</button>
                <button type="submit" class="btn btn-primary" name="export_html">{%  translate 'Export HTML' %}</button>
                <button type="submit" class="btn btn-primary" name="export_pdf">{%  translate 'Export PDF' %}</button>
            </form>
        </div>
    {% endcard %}
{% endblock %}