{% extends "main/base.html" %}
{% load static %}
{% load i18n %}
{% load transcriptiones %}
{% load crispy_forms_tags %}
{% load django_bootstrap_breadcrumbs %}

{% block page_title %}
    {% translate 'Export document' %}
{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb _("Institutions") "main:institution_list" %}
    {% breadcrumb document.parent_ref_number.holding_institution document.parent_ref_number.holding_institution.get_absolute_url %}
    {% breadcrumb document.parent_ref_number document.parent_ref_number.get_absolute_url %}
    {% breadcrumb document.title_name document.get_absolute_url %}
    {% breadcrumb _('Export Document') '' %}
{% endblock %}

{% block content %}
    {% card 'user_profile_options' _('Options') %}
        <p>
            {% translate "You can export the transcriptions in different formats. Please choose below:" %}
        </p>
        <div class="text-center">
            <form method="POST">
                {% csrf_token %}
                {% comment %}
                    TODO: To enable a Button after implementing export, remove style attr and wrapping span.
                {% endcomment %}
                <span class="d-inline-block" tabindex="0" data-toggle="tooltip" data-placement="top" title="{% translate 'The resulting HTML file will not contain any metadata.' %}">
                    <button type="submit" class="btn btn-primary" name="export_html">{%  translate 'Export HTML' %}</button>
                </span>
                <span class="d-inline-block" tabindex="0" data-toggle="tooltip" data-placement="top" title="{% translate 'Exports a plain text version of the transcription text. This might run into problems if the document contains tables.' %}">
                    <button type="submit" class="btn btn-primary" name="export_txt">{%  translate 'Export Plain Text' %}</button>
                </span>
                <span class="d-inline-block" tabindex="0" data-toggle="tooltip" data-placement="top" title="{% translate 'The export to TEI is still in an experimental phase. It will produce valid TEI but indentation will look bad and the transcription text will not contain any semantic or syntactic annotation.' %}">
                    <button type="submit" class="btn btn-primary" name="export_tei">{%  translate 'Export TEI' %}</button>
                </span>
                <span class="d-inline-block" tabindex="0" data-toggle="tooltip" data-placement="top" title="{% translate 'This feature is not available yet. It will be implemented soon.' %}">
                    <button type="submit" class="btn btn-primary" style="pointer-events: none" name="export_json" disabled>{%  translate 'Export JSON' %}</button>
                </span>
                <span class="d-inline-block" tabindex="0" data-toggle="tooltip" data-placement="top" title="{% translate 'This feature is not available yet. It will be implemented soon.' %}">
                    <button type="submit" class="btn btn-primary" style="pointer-events: none" name="export_pdf" disabled>{%  translate 'Export PDF' %}</button>
                </span>
            </form>
        </div>
    {% endcard %}
{% endblock %}