{% extends "base.html" %}

{% block content %}

    <div><h2>Danke für Ihren Beitrag.</h2></div>
    <div><h4>Was möchten Sie als nächstes tun?</h4></div>
    <div class="row mt-3">
        <div class="col-sm mx-auto">
            <a class="btn btn-primary" href="{{ object.get_absolute_url }}">Beitrag ansehen</a>
        </div>
        <div class="col-sm mx-auto">
            <a class="btn btn-primary" href="{% url 'main:profile' %}">Mein Profil</a>
        </div>
        <div class="col-sm mx-auto">
            <a class="btn btn-primary" href="{% url 'main:upload_document' %}">Weiteres Dokument hochladen</a>
        </div>
    </div>


{% endblock content %}