{% extends "main/base.html" %}
{% load i18n %}
{% load transcriptiones %}
{% load django_bootstrap_breadcrumbs %}

{% block page_title %}
    {% translate 'Upload Transcriptions' %}
{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb _("Upload") "main:upload_options" %}
{% endblock %}


{% block content %}
    {% if not request.user.is_authenticated %}
        <p>(<span class="text-danger"><strong>{% translate 'Important:' %}</strong></span> You need a login to upload a document. <a href="{% url 'main:login'%}">Login</a> or register a <a href="{% url 'main:signup'%}">new account.</a>)</p>
    {% endif %}
    {% card 'options_card' _('How Do You Want to Proceed?') %}
        <div class="card-deck">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">{% translate 'Single Page' %}</h5>
              <p class="card-text">{% translate 'Use this option for smaller documents. You can save documents as one page even if there are multiple physical pages.' %}</p>
            </div>
            <div class="card-footer text-center">
                <a href="{% url 'main:upload_document' %}" class="btn btn-primary">{% translate 'Upload Single Page' %}</a>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">{% translate 'Multiple Pages' %}</h5>
              <p class="card-text">{% translate 'Use this option for large documents. It lets you add page by page. All the uploaded data must belong to one reference number' %}.</p>
            </div>
            <div class="card-footer text-center">
                <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="{% translate 'Coming Soon!' %}">
                    <a href="{% url 'main:upload_multiple' %}" class="btn btn-primary disabled" style="pointer-events: none;">{% translate 'Upload Multiple Pages' %}</a>
                </span>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">{% translate 'Batch Upload' %}</h5>
              <p class="card-text">{% translate 'You have loads of transcriptions you want to share? Contact us for a guided import.' %}</p>
            </div>
            <div class="card-footer text-center">
                <a href="{% url 'main:upload_batch' %}" class="btn btn-primary">{% translate 'Contact Us' %}</a>
            </div>
          </div>
        </div>

    {% endcard %}

{% endblock content %}