{% extends "main/base.html" %}
{% load i18n %}
{% load transcriptiones %}
{% load django_bootstrap_breadcrumbs %}

{% block page_title %}
    {% translate 'Upload Transcriptions' %}
{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb _("Upload") "main:upload_options" %}
{% endblock %}


{% block content %}
    {% if not request.user.is_authenticated %}
        <p><span class="text-danger"><strong>{% translate 'Important:' %}</strong></span>
            {% url 'main:login' as loginurl %}
            {% url 'main:signup' as signupurl %}
            {% blocktranslate with loginurl=loginurl signupurl=signupurl %}
            You need a login to upload a document. <a href="{{ loginurl }}">Login</a> or register a <a href="{{ signupurl }}">new account.</a>
            {% endblocktranslate %}
        </p>
    {% endif %}
    {% card 'options_card' _('How Do You Want to Proceed?') %}
        <div class="card-deck">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">{% translate 'Single Document' %}</h5>
              <p class="card-text">{% translate 'Use this option to upload transcriptions through the standard upload form.' %}</p>
            </div>
            <div class="card-footer text-center">
                <a href="{% url 'main:upload_document' %}" class="btn btn-primary">{% translate 'Upload Single Document' %}</a>
            </div>
          </div>

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">{% translate 'Batch Upload' %}</h5>
              <p class="card-text">{% translate 'You have loads of transcriptions you want to share? Contact us for a guided import.' %}</p>
            </div>
            <div class="card-footer text-center">
                <a href="{% url 'main:upload_batch' %}" class="btn btn-primary">{% translate 'Contact Us' %}</a>
            </div>
          </div>
        </div>

    {% endcard %}

{% endblock content %}