{% extends 'main/base.html' %}
{% load transcriptiones %}
{% load i18n %}
{% load django_bootstrap_breadcrumbs %}

{% block page_title %}
    {% translate 'About us' %}
{% endblock %}

{% block content %}

    {% card 'about_us' _('About us') %}
        {%  comment %} Translators: This is a about us message. {% endcomment %}
        {% translate 'About Us Text Message' %}
    {% endcard %}

    {% card 'supporters' _('Supporters') %}
        {%  comment %} Translators: This is a lengthy thank you message to the supporters of the project. {% endcomment %}
        {% translate 'Thank You Text Message' %}
    {% endcard %}

{% endblock %}