{% extends 'main/base.html' %}
{% load transcriptiones %}
{% load i18n %}
{% load django_bootstrap_breadcrumbs %}

{% block page_title %}
    {% translate 'What is Transcriptiones?' %}
{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb _("Information") "main:info" %}
    {% breadcrumb _("About") "main:about" %}
{% endblock %}

{% block content %}
    {% get_current_language as LANGUAGE_CODE %}
    {% include 'main/info/info_options.html' %}

    {% card 'the_project' _('The Project') %}
        {% if LANGUAGE_CODE == 'de' %}
            <h4>transcriptiones – aus der Community für die Community</h4>
            <p>
                Manuskripte sind essenzielle Quellen für verschiedene Fach- und Interessensbereiche
                und deren Transkriptionen sind unerlässliche Forschungsrohdaten. Transkriptionen werden
                allerdings selten publiziert und bleiben oft der Öffentlichkeit vorenthalten.
            </p>
            <p>
                Die Crowdsourcing-Plattform transcriptiones will mehrfach geleistete Transkriptionsarbeit derselben
                Quelle verhindern und dieser Arbeit die nötige Wertschätzung entgegenbringen.
            </p>
            <p>
                Das Angebot richtet sich dabei an alle Interessierten. Es sind ausdrücklich jegliche Transkriptionen
                von historischen Handschriften erwünscht – unabhängig vom Archiv oder dem Ausfertigungsgrad.
            </p>
            <p>
                Die bereits hochgeladenen Transkriptionen und Metadaten können eigens oder von anderen
                Nutzer*innen überarbeitet und erweitert werden.
            </p>
            <p>
                Weitere Informationen zur Nutzung der Plattform finden Sie <a class="strong_link" href="{% url 'main:guidelines' %}">hier</a>.
                Häufig gestellte Fragen finden Sie <a class="strong_link" href="{% url 'main:faq' %}">hier</a>.
            </p>
            <h4>Über uns</h4>
            <p>
                transcriptiones wurde 2020 von <strong>Yvonne Fuchs</strong> und <strong>Dominic Weber</strong>, damals Masterstudierende der Geschichte
                an der Universität Basel, ins Leben gerufen. Der Prototyp wurde im Rahmen eines Fellowships am
                <a class="strong_link" href="https://www.librarylab.ethz.ch/de/">ETH Library Lab</a> entwickelt.
            </p>
            <p>
                Ausgebaut und finalisiert wurde die Datenbank dank der grosszügigen
                finanziellen Unterstützung der <a class="strong_link" href="https://fag-basel.ch/">Freiwilligen
                Akademischen Gesellschaft Basel (FAG)</a> und der <a class="strong_link" href="https://stiftungen.stiftungschweiz.ch/organizations/max-geldner-stiftung">Max
                Geldner-Stiftung</a>. Im Zuge dessen wechselte transcriptiones an das <a class="strong_link" href="https://dg.philhist.unibas.ch/de/">Departement Geschichte der
                Universität Basel</a> und ist seitdem an den Lehrstuhl von Prof. Dr. Lucas Burkart angegliedert.
            </p>
            <h4>Dank</h4>
            <p>
                Ein ausserordentlicher Dank gebührt <strong>Prof. Dr. Lucas Burkart</strong>, der über die
                ganze Projektdauer hinweg das Team betreut und unterstützt hat sowie die Finanzierung und eine
                langfristige institutionelle
                Anbindung ermöglichte. <strong>Maximiliane Okonnek</strong> und dem gesamten ETH Library Lab Team haben wir es zu
                verdanken, dass wir einen Prototypen entwickeln konnten, der den Grundstein für die weiteren
                Projektphasen legte.
                <strong>Prof. Dr. Tobias Hodel</strong> möchten wir herzlich für seine Academic Supervision und wertvollen
                Feedbacks danken.
                <strong>Dr. Christiane Sibille</strong> hat mit ihren motivierenden Worten und dem Hinweis auf das Fellowship am
                ETH Library Lab den Weg für das Kommende geebnet.
            </p>
            <p>
                Ein riesiges Dankeschön geht auch an <strong>Sorin Marti</strong>, der einen Grossteil der Programmierarbeit geleistet
                hat und massgeblich zum Gelingen dieses Projekts beigetragen hat. Auch möchten wir <strong>Nicolas Diener</strong>
                sowie <strong>Daniele Roncaglioni</strong> (Propulsion Academy), die uns beim Programmieren bzw. bei technischen
                Anliegen in der Prototypenphase unterstützt haben, herzlich danken.
            </p>
            <p>
                Wir durften mit vielen weiteren Personen grossartige Gespräche führen und dabei interessante Inputs
                entgegennehmen. Es hat uns sehr gefreut, auf so viele offene Ohren zu stossen!
                Wir möchten diesen und allen weiteren Unterstützern*innen von <i class="fas fa-heart" style="color: red;"></i> danken!
            </p>
            <h4>Links</h4>
            <p>
                <ul class="list-group">
                    <li class="list-group-item"><a href="https://dg.philhist.unibas.ch/de/">Departement Geschichte Universität Basel</a></li>
                    <li class="list-group-item"><a href="https://twitter.com/BaselHistory">Departement Geschichte Universität Basel bei Twitter: @BaselHistory</a></li>
                    <li class="list-group-item"><a href="https://www.librarylab.ethz.ch/de/project/transcriptiones/">transcriptiones am ETH Library Lab</a></li>
                    <li class="list-group-item"><a href="https://www.instagram.com/eth_library_lab/">ETH Library Lab bei Instagram: @eth_library_lab</a></li>
                    <li class="list-group-item"><a href="https://twitter.com/ethliblab">ETH Library Lab bei Twitter: @eth_library_lab</a></li>
                </ul>
            </p>
            <h4>Impressum</h4>
            <p>
                Idee, Konzept, Projektleitung: Yvonne Fuchs, Dominic Weber<br/>
                Herausgeber: Prof. Dr. Lucas Burkart<br/>
                Academic Supervision: Prof. Dr. Lucas Burkart, Prof. Dr. Tobias Hodel<br/>
            </p>
            <p>
                Entwicklung: Sorin Marti<br/>
                Entwicklung Prototyp: Yvonne Fuchs, Dominic Weber, Nicolas Diener, Daniele Roncaglioni
            </p>
                Übersetzungen: Louis Vogel (en)
            </p>
            <p>
                Projektpartner: Departement Geschichte Universität Basel, ETH Library Lab
            </p>
            <p>
                Finanzierung: Freiwillige Akademische Gesellschaft Basel, Max Geldner-Stiftung
            </p>
            <p>
                Universität Basel<br/>
                Departement Geschichte, c/o transcriptiones<br/>
                Hirschgässlein 21<br/>
                CH-4051 Basel<br/>
            </p>
        {% else %}
            <h4>transcriptiones – from the community for the community</h4>
            <p>
                Manuscripts are essential sources for many fields of study and various interests.
                Therefore, their transcriptions are invaluable research data. However, transcriptions
                are rarely published and often remain unavailable to the public.
            </p>
            <p>
                The crowdsourcing platform transcriptiones aims to prevent multiple transcription work of the same
                source and to show this work the necessary appreciation.
            </p>
            <p>
                transcriptiones is open for anyone. We explicitly welcome all transcriptions of historical manuscripts
                – regardless of the archive or the degree of completion.
            </p>
            <p>
                The transcriptions and metadata that have already been uploaded can be edited and expanded by the
                original contributor or by other users.
            </p>
            <p>
                You can find more information on how to use transcriptiones <a href="{% url 'main:guidelines' %}">here</a>.
                Frequently asked questions can be found <a href="{% url 'main:faq' %}">here</a>.
            </p>
            <h4>About us</h4>
            <p>
                transcriptiones was initiated in 2020 by <strong>Yvonne Fuchs</strong> and <strong>Dominic Weber</strong>, then master students
                of history at the University of Basel. The prototype was developed during a fellowship at
                the ETH Library Lab.
            </p>
            <p>
                Thanks to generous funding from the <a class="strong_link" href="https://fag-basel.ch/">Freiwillige Akademische Gesellschaft Basel (FAG)</a> and the
                <a class="strong_link" href="https://stiftungen.stiftungschweiz.ch/organizations/max-geldner-stiftung">Max
                Geldner-Stiftung</a> the database could be expanded and finalised. In this phase, transcriptiones
                moved to the <a class="strong_link" href="https://dg.philhist.unibas.ch/de/">Departement of History</a> at the University of Basel and has since been affiliated
                with the chair of Prof. Dr. Lucas Burkart.
            </p>
            <h4>Thanks</h4>
            <p>
                Exceptional thanks are due to <strong>Prof. Dr. Lucas Burkart</strong>, who has mentored and supported the team
                from the earliest phase of the project and has facilitated our efforts in collecting funds and
                negotiating a long-term institutional affiliation.
            </p>
            <p>
                Thanks to <strong>Maximiliane Okonnek</strong> and the entire ETH Library Lab team, we were able to develop a
                prototype which laid the foundation for the further phases of the project.
                We would like to thank <strong>Prof. Dr. Tobias Hodel</strong> for his academic supervision and valuable feedback.
                <strong>Dr. Christiane Sibille</strong> has paved the way for the development of transcriptiones with her motivating
                words and by pointing out to us the ETH Library Lab Innovator Fellowship program.
            </p>
            <p>
                We are also truly grateful to <strong>Sorin Marti</strong>, who did most of the programming work and has contributed
                significantly to the successful development of the platform.
                We would also like to thank <strong>Nicolas Diener</strong> and <strong>Daniele Roncaglioni</strong> (Propulsion Academy),
                who supported us with programming and technical issues during the prototyping phase.
            </p>
            <p>
                We were able to have great conversations with many other people and to receive interesting and
                valuable inputs from various people. Thank you for your support!
                We would like to thank these and all other supporters from the bottom of our <i class="fas fa-heart" style="color: red;"></i>!
            </p>
            <h4>Links</h4>
            <p>
                <ul class="list-group">
                    <li class="list-group-item"><a href="https://dg.philhist.unibas.ch/de/">Department of History at University of Basel</a></li>
                    <li class="list-group-item"><a href="https://twitter.com/BaselHistory">Department of History at University of Basel on Twitter: @BaselHistory</a></li>
                    <li class="list-group-item"><a href="https://www.librarylab.ethz.ch/de/project/transcriptiones/">transcriptiones at ETH Library Lab</a></li>
                    <li class="list-group-item"><a href="https://www.instagram.com/eth_library_lab/">ETH Library Lab on Instagram: @eth_library_lab</a></li>
                    <li class="list-group-item"><a href="https://twitter.com/ethliblab">ETH Library Lab on Twitter: @eth_library_lab</a></li>
                </ul>
            </p>
            <h4>Credits</h4>
            <p>
                Idea, concept, project management: Yvonne Fuchs, Dominic Weber<br/>
                Editor: Prof. Dr. Lucas Burkart<br>
                Academic supervision: Prof. Dr. Lucas Burkart, Prof. Dr. Tobias Hodel<br/>
            </p>
            <p>
                Development: Sorin Marti<br/>
                Prototype development: Yvonne Fuchs, Dominic Weber, Nicolas Diener, Daniele Roncaglioni
            </p>
            <p>
                Translations: Louis Vogel (en)
            </p>
            <p>
                Project partners: Department of History at University of Basel, ETH Library Lab
            </p>
            <p>
                Funding: Freiwillige Akademische Gesellschaft Basel, Max Geldner-Stiftung
            </p>
            <p>
                University of Basel<br/>
                Departement of History, c/o transcriptiones<br/>
                Hirschgässlein 21<br/>
                CH-4051 Basel<br/>
            </p>
        {% endif %}
    {% endcard %}

{% endblock %}