{% extends 'base.html' %}
{% load transcriptiones %}

{% block page_title %}
    Was ist Transcriptiones?
{% endblock %}

{% block contents %}
<div class="card mt-5">
    <div class="card-header" data-toggle="collapse" href="#card1">
        <a class="card-link">Das Projekt</a>
    </div>
    <div id="card1" class="collapse show">
        <div class="card-body">
            <div class="row">
                <div class="col-sm text-left">
                    Durch das Projekt wird ein dringliches Problem angegangen: Manuskripte sind essenzielle Quellen und deren Transkriptionen unerlässliche Forschungsrohdaten. Letztere werden allerdings selten publiziert und bleiben oft der Öffentlichkeit vorenthalten. Die Crowdsourcing-Datenbank will mehrfach geleistete Transkriptionsarbeit derselben Quelle verhindern und dieser Arbeit die nötige Wertschätzung entgegenbringen. Das Angebot richtet sich dabei an alle Interessierten. Es sind ausdrücklich jegliche Transkriptionen von historischen Manuskripten erwünscht – unabhängig vom Archiv oder dem Ausfertigungsgrad. Die bereits hochgeladenen Transkriptionen und Metadaten können jederzeit eigens oder von anderen Nutzenden überarbeitet werden.
                </div>
            </div> 
        </div>
    </div>
</div>
<div class="card">
    <div class="card-header" data-toggle="collapse" href="#card2">
        <a class="card-link">Häufige Fragen und Antworten</a>
    </div>
    <div id="card2" class="collapse show">
        <div class="card-body">
            <div class="row">
                <div class="col-sm text-left">
                    <p class="font-weight-bold">Ich habe nur einen kleinen Teil der Quelle bearbeitet. Darf ich meine Transkription trotzdem hochladen?</p><br>
                    <p>Ja, es sind alle Transkriptionen erwünscht – auch wenn nur ein Ausschnitt einer Quelle bearbeitet wurde. Wichtig ist, beim Upload möglichst genau anzugeben, welche Teile bereits transkribiert sind.</p><br><br>

                    <p class="font-weight-bold">Meine Transkription ist noch nicht perfekt. Soll ich sie trotzdem bereits hochladen?</p><br>
                    <p>Auch Rohfassungen sollen hochgeladen werden. Es besteht die Möglichkeit, dass die Transkriptionen und Metadaten (mit Ausnahme die Angaben zum Archiv und zur Signatur) später eigens oder durch andere Nutzende überarbeitet werden.</p><br><br>

                    <p class="font-weight-bold">Ich habe Probleme beim Upload. An wen muss ich mich wenden?</p><br>
                    <p>Informationen zum Upload stehen hier zur Verfügung. Sollte das Problem weiterbestehen, kann jederzeit gerne Kontakt aufgenommen werden unter: xyz.</p><br><br>

                    <p class="font-weight-bold">Gerne würde ich viele meine Transkriptionen zur Verfügung stellen, jedoch möchte ich diese nicht alle einzeln hochladen. Was kann ich tun?</p><br>
                    <p>Sehr gerne übernehmen wir für Sie die Einspeisung grösserer Transkriptionsbestände in die Datenbank. Bitte wenden Sie sich an uns unter: xyz.</p><br><br>

                    <p class="font-weight-bold">Bei einer Transkription oder den dazugehörigen Metadaten schlichen sich Fehler ein. Wie muss ich nun vorgehen?</p><br>
                    <p>Metadaten (mit Ausnahme die Angaben zum Archiv und zur Signatur) und Transkriptionen können jederzeit eigens oder durch andere Nutzende überarbeitet werden. Die Anleitung dazu finden Sie hier.<br>
                       Sollten sich bei den Überarbeitungen durch andere Nutzer*innen viele gröbere Fehler eingeschlichen haben, wenden Sie sich bitte an uns: xyz. Gemeinsam gilt es dann zu besprechen, welche Version wir wiederherstellen sollen.</p>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}