{% extends 'main/base.html' %}
{% load transcriptiones %}
{% load i18n %}

{% block page_title %}
    {% translate 'Contact' %}
{% endblock %}

{% block content %}

    {% card 'general' _('General') %}
        {%  comment %} Translators: This is a dummy message. Do not translate yet. {% endcomment %}
        {% translate 'General Contact Text Message' %}
    {% endcard %}

    {% card 'specific' _('Specific') %}
        {%  comment %} Translators: This is a dummy message. Do not translate yet. {% endcomment %}
        {% translate 'Specific Contact Text Message' %}
    {% endcard %}

{% endblock %}