{% extends 'main/base.html' %}
{% load transcriptiones %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load django_bootstrap_breadcrumbs %}

{% block page_title %}
    {% translate 'Contact' %}
{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Contact" "main:contact" %}
{% endblock %}


{% block content %}

    {% include 'main/info/info_options.html' %}

    {% card 'general' _('Write us a message') %}
        {% crispy form %}
    {% endcard %}

{% endblock %}