{% extends 'main/base.html' %}
{% load transcriptiones %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load django_bootstrap_breadcrumbs %}

{% block page_title %}
    {% translate 'Contact' %}
{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb _("Information") "main:info" %}
    {% breadcrumb _("Contact") "main:contact" %}
{% endblock %}


{% block content %}
    {% include 'main/info/info_options.html' %}

    {% card 'general' _('Write us a message') %}
        <p>
            {% url 'main:faq' as faq_url %}
            {% blocktranslate %}
                Do you have a specific question which is not answered by our <a href="{{ faq_url }}">Frequently Asked Questions</a>?
                Write us a message! We will get back to you as soon as possible.
            {% endblocktranslate %}
        </p>
        {% crispy form %}
    {% endcard %}

{% endblock %}