{% extends 'main/base.html' %}
{% load transcriptiones %}
{% load i18n %}
{% load django_bootstrap_breadcrumbs %}

{% block page_title %}
    {% translate 'Guidelines' %}
{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Guidelines" "main:guidelines" %}
{% endblock %}

{% block content %}

    {% include 'main/info/info_options.html' %}

    {% card 'general' _('General') %}
        {%  comment %} Translators: This is a dummy message. Do not translate yet. {% endcomment %}
        {% translate 'General Contact Text Message' %}
    {% endcard %}

    {% card 'specific' _('Specific') %}
        {%  comment %} Translators: This is a dummy message. Do not translate yet. {% endcomment %}
        {% translate 'Specific Contact Text Message' %}
    {% endcard %}

{% endblock %}