{% extends 'main/base.html' %}
{% load transcriptiones %}
{% load i18n %}
{% load static %}
{% load cookielaw_tags %}
{% load crispy_forms_tags %}

{% block page_title %}
{% endblock %}

{% block custom_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/main_page.css' %}">
{% endblock %}

{% block base_content %}
    {% get_current_language as LANGUAGE_CODE %}
    <!-- Header -->
    <header class="masthead d-flex flex-column pt-3 pb-0">
        <div class="container text-center my-auto">
            {% for message in messages %}
                  <div class="alert {{ message.tags }}" role="alert" >
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    {{ message }}
                  </div>
            {% endfor %}
            <h1 class="mb-1 text-white">transcriptiones</h1>
            <h3 class="mb-5 text-white">
                {% translate 'Create, share and access transcriptions of historical manuscripts' %}
            </h3>
            <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">{% translate 'More' %}</a>
        </div>
        <div class="container mr-1">
            <div class="row">
                <div class="col small text-right" style="color: darkgrey">
                    {%  translate 'Shown documents: Staatsarchiv Basel-Stadt, Reference Numbers: StABS Spital F5, StABS PA 572a A I, StABS Spital Urk. 403' %}
                </div>
            </div>
        </div>
        <div class="overlay"></div>
    </header>

    <!-- About -->
    <section class="content-section bg-light" id="about">
        <div class="container text-center">
            <div class="row">
                <div class="col-lg-10 mx-auto">
                    <h2>{% translate 'You created transcripts and want to share them? You are looking for already transcribed material? Welcome!' %}</h2>
                    {% comment %} Translators: Main Page introductory text. {% endcomment %}
                    {% if LANGUAGE_CODE == 'de' %}
                        <p class="lead mb-5">
                            Dem Motto «aus der Community für die Community» folgend wurde mit
                            transcriptiones ein Ort geschaffen, an dem Transkriptionen historischer Handschriften
                            geteilt, betrachtet und bearbeitet werden können.
                        </p>
                    {% else %}
                        <p class="lead mb-5">
                            According to the motto «from the community for the community», we have created a space
                            for sharing, viewing, and editing transcriptions of historical manuscripts.
                        </p>
                    {% endif %}
                    <a class="btn btn-primary btn-xl js-scroll-trigger" href="#procedure">{% translate 'How it works' %}</a>
                    <div>
                        <br/><br/>
                        <h4>{% translate 'Stay Up To Date' %}</h4>
                        {% crispy form %}
                        <small>
                            {% url 'main:unsubscribe_newsletter' as url_unsub %}
                            {% blocktranslate %}
                                Please click <a href="{{ url_unsub }}" class="">here</a> to unsubscribe.
                            {% endblocktranslate %}
                        </small>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Procedure -->
    <section class="content-section bg-primary text-white text-center" id="procedure">
        <div class="container">
            <div class="content-section-heading">
                <h2 class="mb-5">{% translate 'How it works' %}</h2>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 mb-5 mb-lg-0">
                    <span class="service-icon rounded-circle mx-auto mb-3">
                        <a href="{% url 'main:upload_document' %}">
                            <i class="fas fa-arrow-up"></i>
                        </a>
                    </span>
                    <h4>
                        <strong>{% translate 'Upload' %}</strong>
                    </h4>
                    {% comment %} Translators: Main Page text about upload procedure. {% endcomment %}
                    {% if LANGUAGE_CODE == 'de' %}
                        <p class="lead mb-5">
                            Sie können Ihre Transkription <a href="{% url 'main:upload_document' %}" class="text-white font-weight-bold">hochladen</a>,
                            indem Sie sie in den Editor kopieren. Formatierungen aus Ihren Textdateien werden automatisch übernommen.
                            Alternativ können Sie direkt im Editor transkribieren.
                            Weiter können Sie Ihre Transkription mit einer Reihe von Metadaten anreichern.
                        </p>
                    {% else %}
                        <p class="lead mb-5">
                            You can <a href="{% url 'main:upload_document' %}" class="text-white font-weight-bold">upload</a> your transcription
                            by pasting it into the editor. Formatting from your text files will be preserved.
                            You can also directly transcribe in the editor. Additionally, you can enrich your
                            transcription with a variety of metadata.
                        </p>
                    {% endif %}
                </div>
                <div class="col-lg-4 col-md-6 mb-5 mb-lg-0">
                    <span class="service-icon rounded-circle mx-auto mb-3">
                        <a href="{% url 'main:search' %}">
                            <i class="fas fa-search-plus"></i>
                        </a>
                    </span>
                    <h4>
                        <strong>{% translate 'Search' %}</strong>
                    </h4>
                    {% comment %} Translators: Main Page text about search functions. {% endcomment %}
                    {% if LANGUAGE_CODE == 'de' %}
                        <p class="lead mb-5">
                            Hochgeladene Transkriptionen lassen sich unterschiedlich auffinden:
                            Sie können einerseits <a href="{% url 'main:browse_options' %}" class="text-white font-weight-bold">Entdecken</a>
                            anwählen und über die Institutionen, Quellentypen oder Autor*innen zur gewünschten
                            Transkription gelangen, andererseits können Sie eine
                            <a href="{% url 'main:search' %}" class="text-white font-weight-bold">Volltextsuche</a> starten.
                        </p>
                    {% else %}
                        <p class="lead mb-5">
                            Uploaded transcriptions can be found in several ways: You can either click
                            <a href="{% url 'main:browse_options' %}" class="text-white font-weight-bold">Explore</a> to browse the database by
                            institutions, source types or authors and navigate to the respective transcription.
                            Or you can use our <a href="{% url 'main:search' %}" class="text-white font-weight-bold">full-text search</a>.
                        </p>
                    {% endif %}
                </div>
                <div class="col-lg-4 col-md-6 mb-5 mb-md-0">
                    <span class="service-icon rounded-circle mx-auto mb-3">
                        <i class="fas fa-pen"></i>
                    </span>
                    <h4>
                        <strong>{% translate 'Edit' %}</strong>
                    </h4>
                    {% comment %} Translators: Main Page text about edit/correct functions. {% endcomment %}
                    {% if LANGUAGE_CODE == 'de' %}
                        <p class="lead mb-5">
                            Sie können eigene wie fremde Transkriptionen überarbeiten. Dasselbe gilt für einen grossen
                            Teil der Metadaten. Der Versionsverlauf zeigt die entsprechenden Veränderungen an.
                            Ältere Version können vom transcriptiones-Team wiederhergestellt werden.
                        </p>
                    {% else %}
                        <p class="lead mb-5">
                            You can edit your own transcriptions as well as those of others.
                            The same applies to most metadata. The version history shows the corresponding changes.
                            Older versions can be restored by the transcriptiones team.
                        </p>
                    {% endif %}
                </div>
            </div>
            <div class="col-lg-10 mx-auto">
                <a class="btn btn-dark btn-xl js-scroll-trigger" href="#portfolio">{% translate 'Additional information' %}</a>
            </div>
        </div>
    </section>

    <!-- Portfolio -->
    <section class="content-section bg-light text-center" id="portfolio">
        <div class="container">
            <div class="content-section-heading">
                <h2 class="mb-5">{% translate 'Additional Information' %}</h2>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 mb-5 mb-lg-0">
                    <span class="service-icon-portfolio rounded-circle mx-auto mb-3">
                        <a href="{% url 'main:guidelines' %}">
                            <i class="fas fa-pencil-ruler"></i>
                        </a>
                    </span>
                    <h4>
                        <strong>{% translate 'Transcript Guidelines' %}</strong>
                    </h4>
                </div>
                <div class="col-lg-4 col-md-6 mb-5 mb-lg-0">
                    <span class="service-icon-portfolio rounded-circle mx-auto mb-3">
                        <a href="{% url 'main:tos' %}">
                            <i class="fas fa-quote-right"></i>
                        </a>
                    </span>
                    <h4>
                        <strong>{% translate 'Terms of usage' %}</strong>
                    </h4>
                </div>
                <div class="col-lg-4 col-md-6 mb-5 mb-md-0">
                    <span class="service-icon-portfolio rounded-circle mx-auto mb-3">
                        <a href="{% url 'main:about' %}">
                            <i class="fac fa-trans"></i>
                        </a>
                    </span>
                    <h4>
                        <strong>{% translate 'About Us' %}</strong>
                    </h4>
                </div>
            </div>
        </div>
    </section>



<!--
    <section class="content-section" id="portfolio">
        <div class="container">
            <div class="content-section-heading text-center">
                <h2 class="mb-5">{% translate 'Additional Information' %}</h2>
            </div>
            <div class="row no-gutters">
                <div class="col-lg-6">
                    <a class="portfolio-item" href="{% url 'main:guidelines' %}">
                        <span class="caption">
                            <span class="caption-content" style="text-transform: uppercase;">
                                    {% translate 'Transcript Guidelines' %}
                            </span>
                        </span>
                        <img class="img-fluid" src="{% static 'main/images/portfolio-1.jpg' %}" alt="">
                    </a>
                </div>
                <div class="col-lg-6">
                    <a class="portfolio-item" href="{% url 'main:profile' %}">
                        <span class="caption">
                            <span class="caption-content" style="text-transform: uppercase;">
                                    {% translate 'User Account' %}
                            </span>
                        </span>
                        <img class="img-fluid" src="{% static 'main/images/portfolio-2.jpg' %}" alt="">
                    </a>
                </div>
                <div class="col-lg-6">
                    <a class="portfolio-item" href="{% url 'main:tos' %}">
                        <span class="caption">
                            <span class="caption-content" style="text-transform: uppercase;">
                                    {% translate 'Terms of usage' %}
                            </span>
                        </span>
                        <img class="img-fluid" src="{% static 'main/images/portfolio-3.jpg' %}" alt="">
                    </a>
                </div>

                <div class="col-lg-6">
                    <a class="portfolio-item" href="{% url 'main:about' %}">
                        <span class="caption">
                            <span class="caption-content" style="text-transform: uppercase;">
                                    {% translate 'About Us' %}
                            </span>
                        </span>
                        <img class="img-fluid" src="{% static 'main/images/portfolio-4.jpg' %}" alt="">
                    </a>
                </div>
            </div>
        </div>
    </section>
-->
{% endblock %}

{% block extrascripts %}
    <script>
        var faTrans = {
            prefix: 'fac',
            iconName: 'trans',
            icon: [
                200, 200,
                [],
                null,
                'M 12.5 12.5 L 12.5 187.5 L 187.5 187.5 L 187.5 12.5 L 12.5 12.5 z M 86.029297 44.5 L 107.44922 44.5 L 107.44922 70.029297 L 127.0293 70.029297 L 127.0293 90.349609 L 107.44922 90.349609 L 107.44922 122.25977 C 107.44922 131.65977 111.80023 135.18945 117.99023 135.18945 C 120.67023 135.18945 123.50945 134.84977 125.68945 134.00977 L 129.71094 152.15039 C 125.36094 153.83039 119.00078 155.50977 110.80078 155.50977 C 90.050781 155.50977 81.519531 142.23961 81.519531 122.59961 L 81.509766 122.58984 L 81.509766 90.349609 L 70.300781 90.349609 L 70.300781 70.869141 L 83.019531 70.029297 L 86.029297 44.5 z'
            ]
        }
        FontAwesome.library.add(faTrans)
    </script>
{% endblock %}