{% extends 'main/base.html' %}
{% load transcriptiones %}
{% load i18n %}
{% load django_bootstrap_breadcrumbs %}

{% block page_title %}
    {% translate 'Terms Of Service' %}
{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb _("Information") "main:info" %}
    {% breadcrumb "Terms Of Service" "main:tos" %}
{% endblock %}

{% block content %}
    {% get_current_language as LANGUAGE_CODE %}
    {% include 'main/info/info_options.html' %}

    {% card 'general' _('Our Terms Of Service') %}
        {% if LANGUAGE_CODE == 'de' %}
            <h4>transcriptiones – aus der Community für die Community</h4>
            <p>
            deutsch
            </p>
        {% else %}
            <h4>transcriptiones – from the community for the community</h4>
            <p>
            englsih
            </p>
        {% endif %}
    {% endcard %}

{% endblock %}