{% extends 'base.html' %}
{% load transcriptiones %}
{% load i18n %}

{% block page_title %}
    {% translate 'Terms Of Service' %}
{% endblock %}

{% block content %}

    {%  comment %} Translators: This is a dummy message. Do not translate yet. {% endcomment %}
    {% text_card _("General TOS") _("General TOS Text Message") %}

    {%  comment %} Translators: This is a dummy message. Do not translate yet. {% endcomment %}
    {% text_card _("Specific TOS") _("Specific TOS Text Message") %}


{% endblock %}