/* Nav Menu */

.navbar {
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 100%), url("../img/bg-masthead.jpg");
  background-attachment: fixed;
  background-position: center top;
}

.text-navbar {
  color: #fff;
}
