{% load crispy_forms_tags %}

<form method="post" action="">
  {% csrf_token %}

  <div class="modal-header">
    <h3 class="modal-title">Add Institution</h3>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">

    {{ form.institution_name|as_crispy_field }}
    {{ form.street|as_crispy_field }}
    <div class="form-row">
        <div class="form-group col-sm-3">
            Zip code / City*
        </div>
        <div class="form-group col-sm-4">
            {{ form.zip_code }}
        </div>
        <div class="form-group col-sm-5">
            {{ form.city }}
        </div>
    </div>
        {{ form.country|as_crispy_field }}
        {{ form.site_url|as_crispy_field }}

  </div>


  <div class="modal-footer">
    <button type="submit" class="btn btn-primary">Create</button>
  </div>

</form>