{% extends "main/base.html" %}
{% load transcriptiones %}
{% load render_table from django_tables2 %}
{% load i18n %}
{% load django_bootstrap_breadcrumbs %}

{% block page_title %}
    {% translate 'Author' %}: {{ author.author_name }}
{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb _("Authors") "main:author_list"%}
    {% breadcrumb author.author_name "main:author_detail" author.pk %}
{% endblock %}

{% block content %}

    {% card 'author_detail' _('Information about this author') %}
        {% render_table tables.0 %}
        {% if request.user.is_authenticated %}
            {% if subscribed %}
                <a href="{% url 'main:unsubscribe_author' author.pk %}" class="btn btn-primary btn-sm confirm-unsubscribe" data-toggle="modal" data-target="#confirmUnsubscribeModal" id="unsubscribeButtonXXX">{% translate 'Unsubscribe from this author' %}</a>
            {% else %}
                <a class="btn btn-primary btn-sm" href="{% url 'main:subscribe_author' author.pk %}" role="button">{% translate 'Subscribe to this author' %}</a>
            {% endif %}
         &nbsp;&nbsp; <small>
              {% url 'main:subscriptions' as sub_url %}
              {% blocktranslate %}
              (Manage your subscriptions <a href="{{sub_url}}">here</a>)
              {% endblocktranslate %}
            </small>
        {% endif %}

    {%  endcard %}

    {% card 'author_documents' _('Documents from this author') %}
        {% include 'main/filter.html' %}
        {% render_table tables.1 %}
    {%  endcard %}

    <!-- include is not needed for unauthenticated page -->
    {% if request.user.is_authenticated %}
        {% include 'main/admin/confirm_unsubscribe.html' %}
    {% endif %}

{% endblock content %}

{% block extrascripts %}
    <!-- script is not needed for unauthenticated page -->
    {% if request.user.is_authenticated %}
    <script>
        $(document).on('click', '.confirm-unsubscribe', function () {
            console.debug('in here');
            $("#confirmUnsubscribeModal").attr("caller-id", $(this).attr("id"));
        });
        $(document).on('click', '#confirmUnsubscribeButtonModal', function () {
            console.debug('in here 2');
            var caller = $("#confirmUnsubscribeButtonModal").closest(".modal").attr("caller-id");
            console.debug(caller);
            window.location = $("#".concat(caller)).attr("href");
        });
    </script>
    {% endif %}
{% endblock %}