{% extends "main/base.html" %}
{% load i18n %}
{% load transcriptiones %}
{% load django_bootstrap_breadcrumbs %}
{% load render_table from django_tables2 %}

{% block page_title %}
    {% translate 'Browse Scribes' %}
{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb _("Collection") "main:browse_options" %}
    {% breadcrumb _("Scribes") "main:author_list" %}
{% endblock %}

{% block content %}
    {% card 'authors_list_card' _('Scribes') %}
        {% include 'main/filter.html' %}
        {% render_table table %}
    {% endcard %}
{% endblock content %}