{% extends "main/base.html" %}
{% load i18n %}
{% load transcriptiones %}
{% load django_bootstrap_breadcrumbs %}

{% block page_title %}
    {% translate 'Browse Collection' %}
{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb _("Collection") "main:browse_options" %}
{% endblock %}


{% block content %}
    {% card 'options_card' _('How Do You Want to Proceed?') %}
        <div class="card-deck">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">{% translate 'Institutions' %}</h5>
              <p class="card-text">{% translate 'Institutions are holders of documents. Archives, collections or libraries for example.' %}</p>
            </div>
            <div class="card-footer text-center">
                <a href="{% url 'main:institution_list' %}" class="btn btn-primary">{% translate 'Browse by Institution' %}</a>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">{% translate 'Source Types' %}</h5>
              <p class="card-text">{% translate 'Each document has an assigned type. This is a classification of the document content and structure. Letters, Sermons or Historiographic Writings for example.' %}.</p>
            </div>
            <div class="card-footer text-center">
                <a href="{% url 'main:source_type_list' %}" class="btn btn-primary">{% translate 'Browse by Source Type' %}</a>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">{% translate 'Scribes' %}</h5>
              <p class="card-text">{% translate 'Each document has one or more scribes associated with it. These are the scribes of the actual source, not the creators of the transcription.' %}</p>
            </div>
            <div class="card-footer text-center">
                <a href="{% url 'main:author_list' %}" class="btn btn-primary">{% translate 'Browse by Scribe' %}</a>
            </div>
          </div>
        </div>

    {% endcard %}

{% endblock content %}