{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load transcriptiones %}
{% load render_table from django_tables2 %}

{% block additional_head_tags %}
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/toolbox.css' %}">
{% endblock %}

{% block body_includes %}
    {% include "toolbox.html" %}
{% endblock %}

{% block page_title %}
    {{ document.title_name }}
{% endblock %}

{% block breadcrumb %}
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'main:institution_list' %}">{% translate 'Institutions list' %}</a></li>
            <li class="breadcrumb-item"><a href="{{ document.parent_institution.get_absolute_url }}">{{ document.parent_institution }}</a></li>
            <li class="breadcrumb-item"><a href="{{ document.parent_ref_number.get_absolute_url }}">{{ document.parent_ref_number }}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{% translate 'Document' %}</li>
        </ol>
    </nav>
{% endblock %}

{% block content %}

    {% card 'doc_detail_overview' _('Overview') %}
        {% render_table tables.0 %}
    {% endcard %}

    {% card 'doc_detail_transcription' _('Transcript') %}
        {{ document.transcription_text|safe }}
    {% endcard %}

    {% card 'doc_detail_meta_data' _('Content Meta Data') %}
        {% render_table tables.1 %}
    {% endcard %}

    {% card 'doc_detail_meta_data' _('Manuscript Description') %}
        {% render_table tables.2 %}
    {% endcard %}

    {% card 'doc_detail_meta_data' _('Comments and Links') %}
        {% render_table tables.3 %}
    {% endcard %}

{% endblock content %}

