{% extends "main/base.html" %}
{% load static %}
{% load i18n %}
{% load transcriptiones %}
{% load render_table from django_tables2 %}
{% load django_bootstrap_breadcrumbs %}

{% block page_title %}
    {{ document.title_name }}
{% endblock %}

{% block additional_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/transcription_text.css' %}">
{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb _("Institutions") "main:institution_list" %}
    {% breadcrumb document.parent_ref_number.holding_institution document.parent_ref_number.holding_institution.get_absolute_url %}
    {% breadcrumb document.parent_ref_number document.parent_ref_number.get_absolute_url %}
    {% breadcrumb _('Document') '' %}
{% endblock %}

{% block content %}

    {% card 'doc_detail_overview' _('Overview') %}
        {% if newest %}
            <div class="rounded" style="background: #f8d7da; padding: 5px; margin-bottom: 20px;">
                {% blocktranslate with url=newest.get_absolute_url %}
                    This is not the <a href="{{ url }}">newest version</a> of this document.
                {% endblocktranslate %}
            </div>
        {% endif %}
        {% render_table tables.0 %}
        {% if request.user.is_authenticated %}
            {% if subscribed %}
                <a href="{% url 'main:unsubscribe_document' document.pk %}" class="btn btn-primary btn-sm confirm-unsubscribe" data-toggle="modal" data-target="#confirmUnsubscribeModal" id="unsubscribeButtonXXX">{% translate 'Unsubscribe from this document' %}</a>
            {% else %}
                <a class="btn btn-primary btn-sm" href="{% url 'main:subscribe_document' document.pk %}" role="button">{% translate 'Subscribe to this document' %}</a>
            {% endif %}
            <small>
              {% url 'main:subscriptions' as sub_url %}
              {% blocktranslate %}
              (Manage your subscriptions <a href="{{sub_url}}">here</a>)
              {% endblocktranslate %}
            </small>
        {% endif %}
    {% endcard %}

    {% card 'doc_detail_options' _('Options') %}
        <div class="text-center">
            {% if not newest %}
                <a class="btn btn-primary btn-sm" href="{% url 'main:edit_transcript' document.parent_ref_number.holding_institution.institution_slug document.parent_ref_number.ref_number_slug document.document_slug %}" role="button">{% translate 'Edit Transcription' %}</a>
                <a class="btn btn-primary btn-sm" href="{% url 'main:edit_meta' document.parent_ref_number.holding_institution.institution_slug document.parent_ref_number.ref_number_slug document.document_slug %}" role="button">{% translate 'Edit Metadata' %}</a>
            {% endif %}
            <a class="btn btn-primary btn-sm" href="{% url 'main:document_history' document.parent_ref_number.holding_institution.institution_slug document.parent_ref_number.ref_number_slug document.document_slug %}" role="button">{% translate 'View Version History' %}</a>
            <a class="btn btn-primary btn-sm" href="{% url 'main:document_export' document.parent_ref_number.holding_institution.institution_slug document.parent_ref_number.ref_number_slug document.document_slug %}" role="button">{% translate 'Export Document' %}</a>
        </div>
    {% endcard %}

    {% card 'doc_detail_transcription' _('Transcript') %}
        <iframe src="{% url 'main:transcription_iframe' document.id %}" width="100%" height="500px"></iframe>

    {% endcard %}

    {% card 'doc_detail_meta_data' _('Content Metadata') %}
        {% render_table tables.1 %}
    {% endcard %}

    {% card 'doc_detail_description' _('Manuscript Description') %}
        {% render_table tables.2 %}
    {% endcard %}

    {% card 'doc_detail_comments' _('Comments and Links') %}
        {% render_table tables.3 %}
    {% endcard %}

    {% include 'main/admin/confirm_unsubscribe.html' %}
{% endblock content %}

{% block extrascripts %}
     <script src="{% static 'main/js/jquery.scoped.js' %}"></script>

    <script>
        $(document).on('click', '.confirm-unsubscribe', function () {
            console.debug('in here');
            $("#confirmUnsubscribeModal").attr("caller-id", $(this).attr("id"));
        });
        $(document).on('click', '#confirmUnsubscribeButtonModal', function () {
            console.debug('in here 2');
            var caller = $("#confirmUnsubscribeButtonModal").closest(".modal").attr("caller-id");
            console.debug(caller);
            window.location = $("#".concat(caller)).attr("href");
        });
    </script>

    <script>
    window.onload = function () {
        console.log('Dokument geladen');
        $.scoped();
    }
</script>
{% endblock %}