{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load transcriptiones %}
{% load render_table from django_tables2 %}
{% load django_bootstrap_breadcrumbs %}

{% block additional_head_tags %}
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/toolbox.css' %}">
{% endblock %}

{% block body_includes %}
    {% include "toolbox.html" %}
{% endblock %}

{% block page_title %}
    {{ document.title_name }}
{% endblock %}

{% block breadcrumb_init %}
    {% breadcrumb _("Institutions list") "main:institution_list" %}
    {% breadcrumb document.parent_institution document.parent_institution.get_absolute_url %}
    {% breadcrumb document.parent_ref_number document.parent_ref_number.get_absolute_url %}
    {% breadcrumb _('Document') '' %}
{% endblock %}

{% block content %}

    {% card 'doc_detail_overview' _('Overview') %}
        {% render_table tables.0 %}
    {% endcard %}

    {% card 'doc_detail_transcription' _('Transcript') %}
        {{ document.transcription_text|safe }}
    {% endcard %}

    {% card 'doc_detail_meta_data' _('Content Meta Data') %}
        {% render_table tables.1 %}
    {% endcard %}

    {% card 'doc_detail_description' _('Manuscript Description') %}
        {% render_table tables.2 %}
    {% endcard %}

    {% card 'doc_detail_comments' _('Comments and Links') %}
        {% render_table tables.3 %}
    {% endcard %}

{% endblock content %}

