{% extends "main/base.html" %}
{% load static %}
{% load django_bootstrap_breadcrumbs %}
{% load i18n %}
{% load transcriptiones %}

{% block page_title %}
    {{ documenttitle.title_name }}
{% endblock page_title %}

{% block breadcrumb_init %}
    {% breadcrumb _("Institutions list") "main:institution_list" %}
    {% breadcrumb document.parent_ref_number.holding_institution document.parent_ref_number.holding_institution.get_absolute_url %}
    {% breadcrumb document.parent_ref_number document.parent_ref_number.get_absolute_url %}
    {% breadcrumb document.title_name document.get_absolute_url %}
    {% breadcrumb _('Versions') '' %}
{% endblock %}


{% block content %}
    {% card 'doc_history_overview' _('Overview') %}
        <!-- % render_table tables.0 %} -->
        <!--
        Institution
        Signatur
        -->
    {% endcard %}

    {% card 'doc_history_overview' _('Versions') %}
        <!-- % render_table tables.0 %} -->
        <!-- Version table with:
        Version
        commit message
        document_utc_add
        submitted_by
        -->
    {% endcard %}

{% endblock content %}