{% extends "main/base.html" %}
{% load i18n %}
{% load transcriptiones %}
{% load django_bootstrap_breadcrumbs %}
{% load render_table from django_tables2 %}

{% block page_title %}
    {% translate 'Institutions' %}
{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb _("Browse") "main:browse_options" %}
    {% breadcrumb _("Institutions") "main:institution_list" %}
{% endblock %}

{% block content %}
    {% card 'institutins_list_card' _('Institutions') %}
        {% include 'main/filter.html' %}
        {% render_table table %}
    {% endcard %}
{% endblock content %}