{% extends "base.html" %}
{% load i18n %}
{% load transcriptiones %}
{% load render_table from django_tables2 %}

{% block page_title %}
    {{ institution.institution_name }}
{% endblock %}

{% block breadcrumb %}
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'main:institution_list' %}">{% translate 'Institutions list' %}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ institution.institution_name }}</li>
        </ol>
    </nav>
{% endblock %}

{% block content %}

    {% card 'institution_detail' _('About the institution') %}
        {% render_table tables.0 %}
    {% endcard %}

    {% card 'institution_ref_number' _('Reference Numbers in this institution') %}
        {% render_table tables.1 %}
    {% endcard %}

{% endblock content %}
