{% extends "base.html" %}
{% load transcriptiones %}
{% load render_table from django_tables2 %}
{% load i18n %}
{% load django_bootstrap_breadcrumbs %}

{% block page_title %}
    {{ refnumber.ref_number_name }}
{% endblock %}

{% block breadcrumb_init %}
    {% breadcrumb _("Institutions list") "main:institution_list" %}
    {% breadcrumb refnumber.holding_institution refnumber.holding_institution.get_absolute_url %}
    {% breadcrumb refnumber.ref_number_name '' %}
{% endblock %}

{% block content %}

    {% card 'ref_number_detail' _('Information about the reference number') %}
        {% render_table tables.0 %}
    {%  endcard %}

    {% card 'ref_number_documents' _('Documents with this reference number') %}
        {% render_table tables.1 %}
    {%  endcard %}

{% endblock content %}