{% extends "main/base.html" %}
{% load transcriptiones %}
{% load render_table from django_tables2 %}
{% load i18n %}
{% load django_bootstrap_breadcrumbs %}

{% block page_title %}
    {{ refnumber.ref_number_name }} - {{ refnumber.ref_number_title }}
{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb _("Institutions") "main:institution_list"%}
    {% breadcrumb refnumber.holding_institution "main:institution_detail" refnumber.holding_institution.institution_slug %}
    {% breadcrumb refnumber "main:ref_number_detail" refnumber.holding_institution.institution_slug refnumber.ref_number_slug %}
{% endblock %}

{% block content %}

    {% card 'ref_number_detail' _('Information about the reference number') %}
        {% render_table tables.0 %}
        {% if request.user.is_authenticated %}
            {% if subscribed %}
                <a href="{% url 'main:unsubscribe_ref_number' refnumber.pk %}" class="btn btn-primary btn-sm confirm-unsubscribe" data-toggle="modal" data-target="#confirmUnsubscribeModal" id="unsubscribeButtonXXX">{% translate 'Unsubscribe from this reference number' %}</a>
            {% else %}
                <a class="btn btn-primary btn-sm" href="{% url 'main:subscribe_ref_number' refnumber.pk %}" role="button">{% translate 'Subscribe to this reference number' %}</a>
            {% endif %}
         &nbsp;&nbsp;<small>
              {% url 'main:subscriptions' as sub_url %}
              {% blocktranslate %}
              (Manage your subscriptions <a href="{{sub_url}}">here</a>)
              {% endblocktranslate %}
          </small>
        {% endif %}

    {%  endcard %}

    {% card 'ref_number_documents' _('Documents with this reference number') %}
        {% include 'main/filter.html' %}
        {% render_table tables.1 %}
    {%  endcard %}

    {% include 'main/admin/confirm_unsubscribe.html' %}

{% endblock content %}

{% block extrascripts %}
    <script>
        $(document).on('click', '.confirm-unsubscribe', function () {
            $("#confirmUnsubscribeModal").attr("caller-id", $(this).attr("id"));
        });
        $(document).on('click', '#confirmUnsubscribeButtonModal', function () {
            var caller = $("#confirmUnsubscribeButtonModal").closest(".modal").attr("caller-id");
            console.debug(caller);
            window.location = $("#".concat(caller)).attr("href");
        });
    </script>
{% endblock %}