{% extends "main/base.html" %}
{% load i18n %}
{% load transcriptiones %}
{% load django_bootstrap_breadcrumbs %}
{% load render_table from django_tables2 %}

{% block page_title %}
    {% translate 'Source Types' %}
{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Source Types" "main:source_type_list" %}
{% endblock %}

{% block content %}
    {% card 'source_type_list_card' _('Source Types') %}
        {% include 'main/filter.html' %}
        {% render_table table %}
    {% endcard %}
{% endblock content %}

{% block extrascripts %}
    {% include 'main/clickable_table.html' %}
{% endblock %}