{% extends "main/base.html" %}
{% load i18n %}
{% load transcriptiones %}
{% load django_bootstrap_breadcrumbs %}
{% load render_table from django_tables2 %}

{% block page_title %}
    {% translate 'Source Types' %}
{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Browse" "main:browse_options" %}
    {% breadcrumb "Source Types" "main:source_type_list" %}
{% endblock %}

{% block content %}
    {% card 'source_type_parent_list_card' _('First Level Source Types') %}
        <p>Select A Source Type to see its children.</p>
        {% for st in source_types %}
            <a href="{% url 'main:source_type_detail' st.id %}"><span class="badge badge-secondary">{{ st }}</span></a>
        {% endfor %}
    {% endcard %}

{% endblock content %}

{% block extrascripts %}
    {% include 'main/clickable_table.html' %}
{% endblock %}