{% extends "main/base.html" %}
{% load i18n %}
{% load transcriptiones %}
{% load django_bootstrap_breadcrumbs %}
{% load render_table from django_tables2 %}

{% block page_title %}
    {% translate 'Browse Source Type:' %} {% get_translated_source_type_name selected LANGUAGE_CODE %}
{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb _("Browse") "main:browse_options" %}
    {% breadcrumb _("Source Types") "main:source_type_list" %}
    {% if selected.parent_type != None %}
        {% breadcrumb selected.parent_type "main:source_type_detail" selected.parent_type.id %}
    {% endif %}
    {% breadcrumb selected "main:source_type_detail" selected.id %}
{% endblock %}

{% block content %}

    {% card 'source_type_list_card' _('First Level Source Types') %}
        <p>{% translate 'Click a source type to expand their child source types.' %}</p>
        {% get_current_language as LANGUAGE_CODE %}
        <div id="accordion">
            <div class="card">
                {% for st in source_types %}
                    <div class="card-header card-header-st" id="heading{{ st.pk }}">
                        <a class="card-link card-link-st" data-toggle="collapse" data-target="#collapse{{ st.pk }}" aria-expanded="false" aria-controls="collapse{{ st.pk }}" style="width: 100%">
                            {% get_translated_source_type_name st LANGUAGE_CODE %}
                        </a>
                    </div>

                    <div id="collapse{{ st.pk }}" class="collapse" aria-labelledby="heading{{ st.pk }}" data-parent="#accordion">
                        <div class="card-body card-body-st">
                            <ul class="list-group-flush">
                                <li class="list-group-item list-group-item-action text-left">
                                    {% get_translated_source_type_name st LANGUAGE_CODE as translated_type_name %}
                                        <a href="{% url 'main:source_type_detail' st.pk %}">
                                        {% blocktranslate with type_name=translated_type_name %}
                                            All in "{{ type_name }}"
                                        {% endblocktranslate %}
                                        </a>
                                </li>
                                {% for child in st.child_type.all %}
                                    <li class="list-group-item list-group-item-action text-left">
                                        <a href="{% url 'main:source_type_detail' child.pk %}">
                                            {% get_translated_source_type_name child LANGUAGE_CODE %}
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endcard %}

    {% card 'source_type_documents_card' _('Source Types') %}
        <p>
            {% translate 'Documents with type' %}: <strong>{% get_translated_source_type_name selected LANGUAGE_CODE %}</strong>
        </p>
        {% include 'main/document_filter.html' %}
        {% render_table table %}
    {% endcard %}
{% endblock content %}

{% block extrascripts %}
    <script
  type="text/javascript"
  src="https://cdn.jsdelivr.net/gh/maxshuty/accessible-web-components@latest/dist/simpleRange.min.js">
</script>

    <script>
        window.addEventListener('range-changed', (e) => {
            const data = e.detail;
            document.getElementById('doc_start_date').value = data.minRangeValue;
            document.getElementById('doc_end_date').value = data.maxRangeValue;
            console.log(data)
            // data = { sliderId: null, minRangeValue: 0, maxRangeValue: 1000 }
        });
    </script>
{% endblock %}