{% load i18n %}
<span class="badge badge-secondary" type="button" data-toggle="tooltip" data-html="true" data-placement="top"
                      title="
                      {% blocktranslate %}
                        When selected, only exact word results are searched. <br/> <u>Normal:</u> Search for <strong>fun</strong> also yields results for <strong><i>fun</i>eral</strong> or <strong><i>fun</i>damental</strong> <br/> <u>Exact:</u> Search for <strong>fun</strong> only yields results with the word <strong>fun</strong in it.
                      {% endblocktranslate %}
                      ">?</span>