{% load i18n %}

<nav aria-label="Search result pages">
    <ul class="pagination justify-content-center">
        <li class="page-item{% if current_page == 1 %} disabled{% endif %}">
          <a class="page-link" href="#">{% translate 'Previous' %}</a>
        </li>
        {% for link in page_links %}
            {% if link.0 == current_page %}
                <li class="page-item active"><a class="page-link" href="{{ link.1 }}">{{ link.0 }}</a></li>
            {% else %}
                <li class="page-item"><a class="page-link" href="{{ link.1 }}">{{ link.0 }}</a></li>
            {% endif %}
        {% endfor %}
        <li class="page-item{% if num_pages == current_page %} disabled{% endif %}">
          <a class="page-link" href="#">{% translate 'Next' %}</a>
        </li>
    </ul>
</nav>