<!DOCTYPE html>
<html lang="de-ch">
<head>
  <title>transcriptiones</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  {% load static %}
  {% block dependencies %}
  {% endblock dependencies %}
</head>
<body>

<nav class="navbar bg-dark navbar-dark">
  <a class="navbar-brand" href="#">Logo</a>
  <span class="navbar-text">
    transcriptiones
  </span>
  
  <button class="navbar-toggler float-xs-right" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav d-flex align-items-end navbar-nav ml-lg-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">Upload</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Suche</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Benutzerkonto</a>
      </li>    
    </ul>
  </div>
</nav>
<br>

<div class="container" style="margin-top:30px">
    <div class="col-sm-8">
     {% block content %}
      <h1>Titel</h1>
      <p>Text</p>
      <br>
     {% endblock content %}
  </div>
</div>

<div class="jumbotron text-center" style="margin-bottom:0">
  <p>Fussnote</p>
</div>

{% block javascript %}
{% endblock javascript %}


</body>
</html>
