{% extends 'main/base.html' %}
{% load static %}
{% load i18n %}
{% load transcriptiones %}
{% load render_table from django_tables2 %}
{% load django_bootstrap_breadcrumbs %}
{% load crispy_forms_tags %}

{% block page_title %}
    {% translate 'Admin Expert Options' %}
{%  endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb _('Administration') "" %}
    {% breadcrumb _('Expert Options') '' %}
{% endblock %}

{% block content %}

    {% include 'main/admin/admin_options.html' %}

    {% card 'admin_special' _('Special functions') %}
        <table style="width: 100%;">
            <tr>
                <td style="width: 35%;"><a class="btn btn-primary" style="width:100%;" href="{% url "main:admin_statistics" %}" role="button">{% translate 'View Statistics' %}</a></td>
                <td><small>{% translate 'Display a page with usage statistics.' %}</small></td>
            </tr>
            <tr>
                <td style="width: 35%;"><a class="btn btn-primary" style="width:100%;" href="{% url "main:admin_merge_docs" %}" role="button">{% translate 'Merge Documents' %}</a></td>
                <td><small>{% translate 'Merge documents which transcribe the same physical document.' %}</small></td>
            </tr>
            <tr>
                <td style="width: 35%;"><a class="btn btn-primary" style="width:100%;" href="{% url "main:admin_export_json" %}" role="button">{% translate 'Export Database (JSON)' %}</a></td>
                <td><small>{% translate 'Export the complete database as JSON file. (Be patient!).' %}</small></td>
            </tr>
        </table>
    {% endcard %}
{% endblock %}