{% extends 'main/base.html' %}
{% load static %}
{% load i18n %}
{% load transcriptiones %}
{% load render_table from django_tables2 %}
{% load django_bootstrap_breadcrumbs %}
{% load crispy_forms_tags %}

{% block page_title %}
    {% translate 'User Management' %}
{%  endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb _('Administration') "main:admin_start" %}
    {% breadcrumb _('User Management') '' %}
{% endblock %}

{% block content %}
    {% include 'main/admin/admin_options.html' %}

    {% card 'admin_users' _('User Management') %}
        {% include 'main/filter.html' %}
        {% render_table table %}
    {% endcard %}

    {% include 'main/admin/confirm_deactivate_user.html' %}
{% endblock %}

{% block extrascripts %}
    <script>
        $(document).on('click', '.confirm-deactivate', function () {
            $("#confirmDeactivateModal").attr("caller-id", $(this).attr("id"));
        });
        $(document).on('click', '#confirmDeactivateButtonModal', function () {
            var caller = $("#confirmDeactivateButtonModal").closest(".modal").attr("caller-id");
            console.debug(caller);
            window.location = $("#".concat(caller)).attr("href");
        });
    </script>
{% endblock %}