{% extends 'main/base.html' %}
{% load i18n %}
{% load transcriptiones %}
{% load crispy_forms_tags %}
{% load django_bootstrap_breadcrumbs %}

{% block page_title %}
    {% translate 'Database Functions' %}
{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb _('Administration') "main:admin" %}
    {% breadcrumb _('Database Functions') '' %}
{% endblock %}

{% block content %}
    {% include 'main/admin/admin_options.html' %}

    {% card 'admin_crud' _('Change or Create Database Objects') %}
        <table style="width: 100%;">
            <tr>
                <td style="width: 35%;"><a class="btn btn-primary" style="width:100%;" href="{% url "admin:index" %}" role="button">{% translate 'Django Administration Interface' %}</a></td>
                <td><small>{% translate 'The Django Administration Interface lets you add, modify and delete database objects.' %}</small></td>
            </tr>
            <tr>
                <td style="width: 35%;"><a class="btn btn-primary" style="width:100%;" href="{% url "admin:main_document_changelist" %}" role="button">{% translate 'Documents' %}</a></td>
                <td><small>{% translate 'Add, modify or delete document objects.' %}</small></td>
            </tr>
            <tr>
                <td style="width: 35%;"><a class="btn btn-primary" style="width:100%;" href="{% url "admin:main_institution_changelist" %}" role="button">{% translate 'Institutions' %}</a></td>
                <td><small>{% translate 'Add, modify or delete institution objects.' %}</small></td>
            </tr>
            <tr>
                <td style="width: 35%;"><a class="btn btn-primary" style="width:100%;" href="{% url "admin:main_refnumber_changelist" %}" role="button">{% translate 'Reference Numbers' %}</a></td>
                <td><small>{% translate 'Add, modify or delete reference number objects.' %}</small></td>
            </tr>
            <tr>
                <td style="width: 35%;"><a class="btn btn-primary" style="width:100%;" href="{% url "admin:main_sourcetype_changelist" %}" role="button">{% translate 'Source Types' %}</a></td>
                <td><small>{% translate 'Add, modify or delete source type objects.' %}</small></td>
            </tr>
            <tr>
                <td style="width: 35%;"><a class="btn btn-primary" style="width:100%;" href="{% url "admin:main_author_changelist" %}" role="button">{% translate 'Authors' %}</a></td>
                <td><small>{% translate 'Add, modify or delete author objects.' %}</small></td>
            </tr>
            <tr>
                <td style="width: 35%;"><a class="btn btn-primary" style="width:100%;" href="{% url "admin:main_user_changelist" %}" role="button">{% translate 'Users' %}</a></td>
                <td><small>{% translate 'Add, modify or delete user objects.' %}</small></td>
            </tr>


        </table>
    {% endcard %}

    {% card 'admin_export' _('Export Database Objects') %}
        <table style="width: 100%;">

        </table>
    {% endcard %}
{% endblock %}