{% load i18n %}

<div class="text-center">
    <div  class="btn-group" role="group">
        <a type="button" href="{% url 'main:admin' %}" class="btn btn-primary{% if request.resolver_match.url_name == 'admin' %} disabled{% endif %}">{% translate 'Database Functions' %}</a>
        <a type="button" href="{% url 'main:admin_inbox' %}" class="btn btn-primary{% if request.resolver_match.url_name == 'admin_inbox' %} disabled{% endif %}">{% translate 'Contact Messages' %}</a>
        <a type="button" href="{% url 'main:admin_users' %}" class="btn btn-primary{% if request.resolver_match.url_name == 'admin_users' %} disabled{% endif %}">{% translate 'User Management' %}</a>
        <a type="button" href="{% url 'main:admin_expert' %}" class="btn btn-primary{% if request.resolver_match.url_name == 'admin_expert' %} disabled{% endif %}">{% translate 'Expert Functions' %}</a>
    </div>
</div>