{% extends 'main/base.html' %}
{% load i18n %}
{% load transcriptiones %}
{% load crispy_forms_tags %}
{% load django_bootstrap_breadcrumbs %}

{% block page_title %}
    {% translate 'Admin Functions' %}
{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb _('Administration') "main:admin_start" %}
    {% breadcrumb _('Database Functions') '' %}
{% endblock %}

{% block content %}
    {% include 'main/admin/admin_options.html' %}

    {% card 'admin_crud' _('Change or Create Database Objects') %}
        <div class="card-deck">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">{% translate 'Database Options' %}</h5>
              <p class="card-text">{% translate 'You can access the Django administration Interface and manipulate database objects if needed. Use caution!' %}</p>
            </div>
            <div class="card-footer text-center">
                <a href="{% url 'admin:main_document_changelist' %}" class="btn btn-warning">{% translate 'Documents' %}</a>
                <a href="{% url 'admin:main_institution_changelist' %}" class="btn btn-warning">{% translate 'Institutions' %}</a>
                <a href="{% url 'admin:main_refnumber_changelist' %}" class="btn btn-warning">{% translate 'Reference Numbers' %}</a>
                <a href="{% url 'admin:main_sourcetype_changelist' %}" class="btn btn-warning">{% translate 'Source Types' %}</a>
                <a href="{% url 'admin:main_author_changelist' %}" class="btn btn-warning">{% translate 'Authors' %}</a>
                <a href="{% url 'admin:main_user_changelist' %}" class="btn btn-warning">{% translate 'Users' %}</a>
            </div>
          </div>
        </div>
        <br/>
        <div class="card-deck">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Django Admin</h5>
              <p class="card-text">{% translate 'The Django Administration Interface lets you add, modify and delete database objects.' %}</p>
            </div>
            <div class="card-footer text-center">
                <a href="{% url 'admin:index' %}" class="btn btn-warning">Django Admin</a>
            </div>
          </div>

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">phpMyAdmin</h5>
              <p class="card-text">{% translate 'You can manipulate the database within phpMyAdmin. Additional Login needed. Use caution!' %}</p>
            </div>
            <div class="card-footer text-center">
                <a href="http://transcriptiones.ch:8080" class="btn btn-warning">phpMyAdmin</a>
            </div>
          </div>
        </div>
        <br/>
        <div class="card-deck">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">{% translate 'Expert Options' %}</h5>
              <p class="card-text">{% translate 'These are expert options. Use caution!' %}</p>
            </div>
            <div class="card-footer text-center">
                <a href="{% url 'main:admin_statistics' %}" class="btn btn-primary disabled">{% translate 'View Statistics' %}</a>
                <a href="{% url 'main:admin_merge_docs' %}" class="btn btn-primary disabled">{% translate 'Merge Documents' %}</a>
                <a href="{% url 'main:admin_export_json' %}" class="btn btn-primary disabled">{% translate 'Export Database (JSON)' %}</a>
            </div>
          </div>
        </div>
    {% endcard %}

{% endblock %}