{% extends 'main/base.html' %}
{% load static %}
{% load i18n %}
{% load transcriptiones %}
{% load render_table from django_tables2 %}
{% load django_bootstrap_breadcrumbs %}
{% load crispy_forms_tags %}

{% block page_title %}
    {% translate 'Answer Contact Message' %}
{%  endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb _('Administration') "main:admin" %}
    {% breadcrumb _('Contact Message Inbox') 'main:admin_inbox' %}
    {% breadcrumb _('Message') 'main:admin_inbox_message' message.id %}
    {% breadcrumb _('Answer') '' %}
{% endblock %}

{% block content %}

    {% include 'main/admin/admin_options.html' %}

    {% card 'messages_card' _('Message') %}
        <p>
            {% blocktranslate with reply_email=message.reply_email %}
                Type your answer to <strong>{{ reply_email }}</strong>
            {% endblocktranslate %}
        </p>
        {% crispy form %}
    {% endcard %}

    {% include "bsmodals/confirm.html" %}
    {% include 'main/confirm_delete.html' %}
{% endblock %}

{% block extrascripts %}
    <script src="{% static 'bsmodals/bsmodals.js' %}"></script>
    <script>
        $(document).on('click', '.confirm-delete', function () {
            $("#confirmDeleteModal").attr("caller-id", $(this).attr("id"));
        });
        $(document).on('click', '#confirmDeleteButtonModal', function () {
            var caller = $("#confirmDeleteButtonModal").closest(".modal").attr("caller-id");
            window.location = $("#".concat(caller)).attr("href");
        });

        $(document).ready(function() {
            $('#do-delete').click(function () {
                bsmodals_confirm('Delete contact message?', ' Delete contact message? This cannot be undone.', (result) => {
                    if (result) {
                        location.href="{% url 'main:admin_inbox_message_delete' message.id %}"
                    }
                }, yes_text = "Delete", yes_style = "btn-danger", no_text = "Cancel", no_style = "btn-primary");
            });
        });
    </script>
{% endblock %}