{% load static %}
{% load i18n %}
{% load django_bootstrap_breadcrumbs %}
{% load humanize %}
{% load cookielaw_tags %}

{% get_current_language as LANGUAGE_CODE %}


<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="TRANSCRIPTIONES"> <!-- TODO Add description, keywords -->
        <meta name="author" content="TRANSCRIPTIONES">

        <title>{% block title_bar %}transcriptiones{% endblock %}</title>
        <link rel="shortcut icon" href="{% static 'main/images/favicon.ico' type='image/x-icon' %}">

        <!-- Bootstrap core JavaScript -->
        <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> -->
        <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->
        <script src="{% static 'assets/js/jquery-3.2.1.min.js' %}"></script>
        <script src="{% static 'assets/js/popper.min.js' %}"></script>
        <!-- <script src="{# static 'assets/js/bootstrap.min.js' #}"></script> -->
        <script src="{% static 'js/jquery.bootstrap.modal.forms.js' %}"></script>
        <script src="https://cdn.jsdelivr.net/gh/xcash/bootstrap-autocomplete@v2.3.7/dist/latest/bootstrap-autocomplete.min.js"></script>

        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>

        <!-- Plugin JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>

        <!-- Bootstrap Core CSS -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">

        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

        <!-- Custom scripts for this template -->
        <script src="{% static 'main/js/transcriptiones.js' %}"></script>

        <!-- Fontawesome: included as django module -->
        <link href="{% static 'fontawesome/css/all.min.css' %}" rel="stylesheet" type="text/css">
        <script src="{% static 'fontawesome/js/all.min.js' %}"></script>

        <!-- simple-line-icons: Used for social media icons in footer -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.css">

        <!-- Flags for country dropdown -->
        <link rel="stylesheet" href="{% static 'flags/sprite.css' %}">

        <!-- Transcriptiones CSS -->
        <link rel="stylesheet" type="text/css" href="{% static 'main/css/transcriptiones_base.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'main/css/scroll_to_top.css' %}">

        <link rel="stylesheet" type="text/css" href="{% static 'main/css/footer.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'main/css/breadcrumbs.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'main/css/navbar.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'main/css/tooltip.css' %}">

        <!-- Cookie Banner -->
        <link rel="stylesheet" type="text/css" href="{% static 'main/css/cookies.css' %}">
        <script src="{% static 'cookielaw/js/cookielaw.js' %}"></script>

        {%  block custom_css %}
            <link rel="stylesheet" type="text/css" href="{% static 'main/css/transcriptiones.css' %}">
        {% endblock %}

        {% block additional_css %}
        {% endblock %}

        {% block additional_javascript %}
        {% endblock %}

        {% block additional_head_tags %}
        {% endblock %}


    {% block scripts %}

    {% endblock %}
    </head>

    <body id="page-top">
        {% block body_includes %}
        {% endblock %}

        {% block modal_includes %}
        {% endblock %}

        <!-- Navigation -->
        <div class="dashboard-header">
            <nav class="navbar navbar-expand-lg bg-primary fixed-top">
                <!-- LOGO -->
                <a href="{% url 'main:start' %}">
                    <img class="navbar-logo" src="{% static 'main/images/logo.png' %}" alt="transcriptiones">
                </a>
                <!-- <a class="navbar-brand" href="{% url 'main:start' %}">Transcriptiones</a> -->

                <!-- TOGGLER -->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="" role="button" ><i class="fa fa-bars" aria-hidden="true" style="color:#e6e6ff"></i></span>
                </button>

                <!-- COLLAPSABLE BAR -->
                <div class="collapse navbar-collapse " id="navbarSupportedContent">
                    <!-- MAIN NAVBAR -->
                    <ul class="navbar-nav navbar-left-top">
                        <li class="navbar-nav-item">
                            <div class="tr-tooltip">
                                <span class="tr-tooltiptext">{% translate 'Upload transcriptions' %}</span>
                                <a class="nav-link text-navbar{% if request.resolver_match.url_name in 'upload_options,upload_document,upload_multiple,upload_batch' %}-active{% endif %}" href="{% url 'main:upload_options' %}">{% translate 'Participate' %}</a>
                            </div>
                        </li>

                        <li class="navbar-nav-item">
                            <div class="tr-tooltip">
                              <span class="tr-tooltiptext">{% translate 'Explore the collection by institutions, scribes and source types' %}</span>
                            <a class="nav-link text-navbar{% if request.resolver_match.url_name in 'browse_options,institution_list,institution_detail,author_list,author_detail,source_type_list,source_type_detail' %}-active{% endif %}"
                               href="{% url 'main:browse_options' %}">{% translate 'Collection' %}</a>
                            </div>
                        </li>

                        <li class="navbar-nav-item">
                            <div class="tr-tooltip">
                                <span class="tr-tooltiptext">{% translate 'Find transcriptions through an advanced search form' %}</span>
                                <a class="nav-link text-navbar{% if request.resolver_match.url_name == 'search' %}-active{% endif %}" href="{% url 'main:search' %}">{% translate 'Search' %}</a>
                            </div>
                        </li>

                        <li class="navbar-nav-item">
                            <a class="nav-link text-navbar{% if request.resolver_match.url_name == 'news' %}-active{% endif %}" href="{% url 'main:news' %}">{% translate 'News' %}</a>
                        </li>

                        <li class="navbar-nav-item">
                            <a class="nav-link text-navbar{% if request.resolver_match.url_name in 'info,about,tos,guidelines,contact,faq,api_doc_view' %}-active{% endif %}" href="{% url 'main:about' %}">{% translate 'About' %}</a>
                        </li>
                    </ul>

                    <!-- RIGHT PART OF NAVIGATION -->
                    <ul class="navbar-nav ml-auto navbar-right-top">
                        <!-- SEARCH BOX -->
                        <li class="nav-item">
                            <div class="tr-tooltip">
                                <span class="tr-tooltiptext">{% translate 'Perform a full-text search for documents' %}</span>
                                <div id="custom-search" class="top-search-bar">
                                    <form action="{% url 'main:search_redirect' %}" method="post">
                                        {% csrf_token %}
                                        <input class="form-control" type="text" name="query" placeholder="{% translate 'Search...' %}">
                                    </form>
                                </div>
                            </div>
                        </li>
                        <!-- NOTIFICATIONS -->
                        {% if user.is_authenticated %}
                        <li class="nav-item dropdown notification">
                            <a class="nav-link nav-icons" href="#" id="navbarDropdownMenuLink1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-fw fa-bell" style="color: #e6e6f2;"></i>
                                <!-- red bullet on bell -->
                                {% if cp_total_new_notifications > 0 %}
                                    <span class="indicator"></span>
                                {% endif %}
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right notification-dropdown">
                                <li>
                                    {% if cp_total_new_notifications == 0 %}
                                        <div class="notification-title">{% translate 'You have no new notifications.' %}</div>
                                    {% elif cp_total_new_notifications > 3 %}
                                        <div class="notification-title">
                                            {% blocktranslate with cp_total_new_notifications=cp_total_new_notifications %}
                                            Showing 3 of {{ cp_total_new_notifications }} new notifications.
                                            {% endblocktranslate %}
                                        </div>
                                    {% else %}
                                        <div class="notification-title">
                                            {% blocktranslate with cp_total_new_notifications=cp_total_new_notifications %}
                                            You have {{ cp_total_new_notifications }} new notifications.
                                            {% endblocktranslate %}
                                        </div>
                                    {% endif %}
                                    <div class="notification-list">
                                        <div class="list-group">
                                            {% for notification in cp_user_notifications %}
                                            <a href="{{ notification.url }}" class="list-group-item list-group-item-action">
                                                <div class="notification-info">
                                                    <div class="notification-list-user-img">
                                                        <div class="circle" style="background: {{ notification.user_color }};">
                                                          <span class="initials">{{ notification.sender.0 }}</span>
                                                        </div>
                                                    </div>
                                                    <div class="notification-list-user-block">
                                                        <span class="notification-list-user-name">{{ notification.sender }}</span> {% translate 'wrote' %}: {{ notification.subject }}
                                                        <div class="notification-date">{{ notification.sending_time|naturaltime }}</div>
                                                    </div>
                                                </div>
                                            </a>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="list-footer"> <a href="{% url 'main:messages' %}">{% translate 'View all messages and notifications' %}</a></div>
                                </li>
                            </ul>
                        </li>
                        {% endif %}
                        <!-- End notifications -->

                        <!--Language Selection Block-->
                        <li class="nav-item dropdown connection">
                             {% get_current_language as LANGUAGE_CODE %}

                            <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-globe" style="color: #e6e6f2;"></i> <span style="color: white">{{ LANGUAGE_CODE }}</span>
                            </a>

                            <ul class="dropdown-menu dropdown-menu-right nav-connections-dropdown">
                                <li>
                                     <a class="dropdown-item disabled" href="#"><small>{% translate 'Select Language' %}</small></a>
                                    {% get_available_languages as LANGUAGES %}
                                    {% get_language_info_list for LANGUAGES as languages %}
                                    {% for language in languages %}
                                        <p>
                                      {{ language.code }} &nbsp;<a class="dropdown-item" href="{% url 'main:set_tr_language' language.code %}">{{ language.name_local }}</a>
                                        </p>
                                    {% endfor %}
                                </li>
                            </ul>
                        </li>

                        <!-- Option / Apps Block-->
                        <li class="nav-item dropdown connection">
                            <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-fw fa-th" style="color: #e6e6f2;"></i>
                            </a>

                            <ul class="dropdown-menu dropdown-menu-right nav-connections-dropdown">
                                <li>
                                    <a class="dropdown-item disabled" href="#"><small>{% translate 'Explore' %}</small></a>
                                    <a class="dropdown-item" href="{% url 'main:institution_list' %}"><i class="fas fa-university mr-2"></i>{% translate 'Browse by Institution' %}</a>
                                    <a class="dropdown-item" href="{% url 'main:source_type_list' %}"><i class="fas fa-file mr-2"></i>{% translate 'Browse by Source Type' %}</a>
                                    <a class="dropdown-item" href="{% url 'main:author_list' %}"><i class="fas fa-user mr-2"></i>{% translate 'Browse by Scribe' %}</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item disabled" href="#"><small>{% translate 'Participate' %}</small></a>
                                    {% if request.user.is_authenticated %}
                                    <a class="dropdown-item" href="{% url 'main:upload_document' %}"><i class="fas fa-angle-up mr-2"></i>{% translate 'Upload Transcription' %}</a>
                                    {% comment %}
                                    <a class="dropdown-item" href="{% url 'main:upload_multiple' %}"><i class="fas fa-angle-double-up mr-2"></i>{% translate 'Upload Multi-Page Transcription' %}</a>
                                    {% endcomment %}
                                    <a class="dropdown-item" href="{% url 'main:upload_batch' %}"><i class="fas fa-upload mr-2"></i>{% translate 'Batch Upload' %}</a>
                                    {% else %}
                                    <a class="dropdown-item" href="{% url 'main:login' %}"><i class="fas fa-user mr-2"></i>{% translate 'Login to Participate' %}</a>
                                    {% endif %}
                                    <a class="dropdown-item disabled" href="#"><small>{% translate 'Advanced Features' %}</small></a>
                                    <a class="dropdown-item" href="{% url 'main:api_doc_view' %}"><i class="fas fa-code mr-2"></i></i>{% translate 'Transcriptiones API' %}</a>
                                    <a class="dropdown-item" href="https://github.com/transcriptiones/"><i class="fab fa-github mr-2"></i>{% translate 'Find us on GitHub' %}</a>
                                </li>
                                <li>
                                    <div class="conntection-footer"><a href="{% url 'main:contact' %}">{% translate 'Contact Us' %}</a></div>
                                </li>
                            </ul>
                        </li>

                        <!-- USER SETTINGS -->
                        {% if user.is_authenticated %}
                        <li class="nav-item dropdown nav-user">
                            <a class="nav-link nav-user-img" href="#" id="navbarDropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                 <div>
                                    <div class="small-circle" style="background: {{ request.user.get_user_color }};">
                                        <span class="small-initials">{{ request.user.username.0 }}</span>
                                    </div>
                                 </div>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right nav-user-dropdown" aria-labelledby="navbarDropdownMenuLink2">
                                <div class="nav-user-info">
                                    <div class="nav-user-name-img">
                                        <div class="circle" style="background: {{ request.user.get_user_color }}; display:inline-block; vertical-align:middle;">
                                            <span class="initials">{{ request.user.username.0 }}</span>
                                        </div>
                                    </div>
                                    <div class="nav-user-name">
                                            <h5 class="mb-0 text-white nav-user-name-name">{{ request.user.username }}</h5>
                                            <span class="nav-user-info-text">{{ request.user.email }}</span>
                                    </div>
                                </div>
                                <a class="dropdown-item disabled" href="#"><small>{% translate 'Your Account' %}</small></a>
                                <a class="dropdown-item" href="{% url 'main:profile' %}"><i class="fas fa-user mr-2"></i>{% translate 'Account' %}</a>
                                <a class="dropdown-item" href="{% url 'main:user_update' %}"><i class="fas fa-cog mr-2"></i>{% translate 'Edit User Information' %}</a>
                                <a class="dropdown-item" href="{% url 'main:public_profile' request.user.username %}"><i class="fas fa-user-circle mr-2"></i>{% translate 'View your Public Profile' %}</a>
                                {% if request.user.is_superuser %}
                                    <a class="dropdown-item" href="{% url 'main:admin_start' %}"><i class="fas fa-user-cog mr-2"></i>{% translate 'Administration' %}</a>
                                {% endif %}
                                <a class="dropdown-item" href="{% url 'main:logout' %}"><i class="fas fa-power-off mr-2"></i>{% translate 'Logout' %}</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item disabled" href="#"><small>{% translate 'Messages' %}</small></a>
                                <a class="dropdown-item" href="{% url 'main:messages' %}"><i class="fas fa-envelope mr-2"></i>{% translate 'My Inbox' %}</a>
                                <a class="dropdown-item" href="{% url 'main:subscriptions' %}"><i class="fas fa-file-signature mr-2"></i>{% translate 'My Subscriptions' %}</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item disabled" href="#"><small>{% translate 'Documents' %}</small></a>
                                <a class="dropdown-item" href="{% url 'main:my_documents' %}"><i class="fas fa-file mr-2"></i>{% translate 'My Documents' %}</a>



                            </div>
                        </li>
                        {% else %}
                            <li class="nav-item dropdown nav-user">
                                <a class="nav-link nav-user-img" href="#" id="navbarDropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                     <div>
                                        <div class="small-circle">
                                            <span class="small-initials-symbol"><i class="fas fa-user" style="vertical-align: unset"></i></span>
                                        </div>
                                     </div>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right nav-user-dropdown" aria-labelledby="navbarDropdownMenuLink2">
                                    <a class="dropdown-item" href="{% url 'main:login' %}"><i class="fas fa-user mr-2"></i>{% translate 'Login' %}</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="{% url 'main:signup' %}"><i class="fas fa-user mr-2"></i>{% translate 'Register' %}</a>
                                    <a class="dropdown-item" href="{% url 'main:password_reset' %}"><i class="fas fa-cog mr-2"></i>{% translate 'Forgot Password?' %}</a>
                                    <a class="dropdown-item" href="{% url 'main:username_request' %}"><i class="fas fa-cog mr-2"></i>{% translate 'Forgot Username?' %}</a>
                                </div>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
        </div>
        {#  {% include "main/sidebar.html" %} #}

        {% if cookielaw.notset %}{% cookielaw_banner %}{% endif %}

        <!-- Breadcrumbs -->
        {% block breadcrumbs %}
            {% clear_breadcrumbs %}
            {% breadcrumb "transcriptiones" "/" %}
        {% endblock %}



        <!-- Content -->
        {% block base_content %}

            <section class="content-section">
                <div class="container text-center">
                   {% for message in messages %}
                      <div class="alert {{ message.tags }}" role="alert" >
                        <button type="button" class="close" data-dismiss="alert">×</button>
                        {{ message }}
                      </div>
                    {% endfor %}

                    <div class="row">
                        <div class="col-sm-10 mx-auto">
                            {% render_breadcrumbs %}
                            <div class="content-section-heading">
                                <h3 class="mb-sm-3">
                                    {% block page_title %}
                                        Implement block "page_title"
                                    {% endblock %}
                                </h3>
                            </div>
                            <div>
                            </div>

                            {% block content %}
                                    <p class="lead mb-5">Implement block "content"</p>
                                {% endblock %}
                        </div>
                    </div>
                </div>
            </section>
        {% endblock %}


    <!-- Footer -->
    <footer class="footer text-center">
        <div class="container">
            <!--
            <ul class="list-inline mb-5">
                <li class="list-inline-item">
                    <a class="social-link rounded-circle text-white mr-3" href="#">
                        <i class="icon-social-facebook"></i>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a class="social-link rounded-circle text-white mr-3" href="#">
                        <i class="icon-social-twitter"></i>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a class="social-link rounded-circle text-white" href="#">
                        <i class="icon-social-github"></i>
                    </a>
                </li>
            </ul>
            -->
            <p class="text-muted small mb-0">Copyright &copy; transcriptiones 2020, 2021, 2022</p> <!-- TODO Get these values from a context processor-->
        </div>
        <!-- Sidebar -->
    </footer>

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded js-scroll-trigger" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    {% block extrascripts %}{% endblock extrascripts %}
    <script>
        $('.alert').hide().fadeIn(500).delay(8000).fadeOut(500);

        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
</body>
</html>
