{% load bootstrap4 %}

<form action="/display/institutions/test-institution-4/i4-refnumber-3/" method="get" class="form form-inline">
    <div class="my-small-form">
        <input type="text" name="title_name" class="form-control" placeholder="Title contains" title="" id="id_title_name">
    </div>
        <button class="btn btn-primary"><svg class="svg-inline--fa fa-filter fa-w-16" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="filter" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M487.976 0H24.028C2.71 0-8.047 25.866 7.058 40.971L192 225.941V432c0 7.831 3.821 15.17 10.237 19.662l80 55.98C298.02 518.69 320 507.493 320 487.98V225.941l184.947-184.97C520.021 25.896 509.338 0 487.976 0z"></path></svg><!-- <i class="fas fa-filter"></i> --></button>
        <a class="btn btn-primary" href="/display/institutions/test-institution-4/i4-refnumber-3/"><i class="fas fa-times"></i></a>
</form>

<br/>


<form action="/display/authors/263/" method="get" class="form form-inline">
    <svg class="svg-inline--fa fa-filter fa-w-16" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="filter" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M487.976 0H24.028C2.71 0-8.047 25.866 7.058 40.971L192 225.941V432c0 7.831 3.821 15.17 10.237 19.662l80 55.98C298.02 518.69 320 507.493 320 487.98V225.941l184.947-184.97C520.021 25.896 509.338 0 487.976 0z"></path></svg><!-- <i class="fas fa-filter"></i> -->&nbsp;
    <div class="my-small-form is-valid"><label class="sr-only" for="id_title_name">Title contains</label><input type="text" name="title_name" class="form-control is-valid" placeholder="Title contains" title="" id="id_title_name"></div>
<div class="my-small-form is-valid"><label class="sr-only" for="id_source_type">Source Type</label><select name="source_type" class="form-control is-valid" title="" id="id_source_type">
  <option value="" selected="">---------</option>

  <option value="4">Administrative literature</option>

  <option value="12">Annals</option>

  <option value="14">Biographies</option>

  <option value="13">Chronicles</option>

  <option value="28">Citizens books</option>

  <option value="5">Correspondence</option>

  <option value="31">Council books</option>

  <option value="19">CVs</option>

  <option value="21">Diplomatic documents</option>

  <option value="40">Dogmatic writings</option>

  <option value="23">Ecclesiastical sources of law</option>

  <option value="41">Encyclopedic writings</option>

  <option value="45">Epic</option>

  <option value="16">Examples</option>

  <option value="48">Games</option>

  <option value="51">General</option>

  <option value="29">Guild documents</option>

  <option value="2">Hagiographic Sources</option>

  <option value="1">Historiographic Sources</option>

  <option value="17">History poetry</option>

  <option value="26">Leaning books</option>

  <option value="32">Letters</option>

  <option value="6">Liturgical writings</option>

  <option value="30">Matriculas</option>

  <option value="42">Medical writings</option>

  <option value="36">Memorial books</option>

  <option value="20">Miracle and translation reports</option>

  <option value="52">Notes</option>

  <option value="27">Official and accounting books</option>

  <option value="44">Other non-theological literature</option>

  <option value="25">Ownership directory</option>

  <option value="50">Pamphlets</option>

  <option value="24">Personal Contracts</option>

  <option value="43">Philosophical writings</option>

  <option value="10">Plans / Maps</option>

  <option value="8">Poetry</option>

  <option value="46">Poetry</option>

  <option value="9">Political writings</option>

  <option value="33">Postcards</option>

  <option value="37">Preaching instructions</option>

  <option value="47">Prose</option>

  <option value="7">Scientific writing</option>

  <option value="18">Self testimonies</option>

  <option value="35">Sermons</option>

  <option value="11">Sonstiges</option>

  <option value="3">Sources of law</option>

  <option value="39">Theoretical-theological writings</option>

  <option value="49">Tracts</option>

  <option value="15">Travelogues</option>

  <option value="38">Visions</option>

  <option value="22">Weltliche Rechtsquellen</option>

  <option value="34">Worship regulation</option>

</select></div>
<div class="my-small-form is-valid"><label class="sr-only" for="id_place_name">Creation Location contains</label><input type="text" name="place_name" class="form-control is-valid" placeholder="Creation Location contains" title="" id="id_place_name"></div>
<div class="my-small-form is-valid"><label class="sr-only" for="id_doc_start_date_0">Creation period start</label><input type="text" name="doc_start_date_after" class="form-control is-valid" placeholder="Creation period start" title="" id="id_doc_start_date_0">

-<input type="text" name="doc_start_date_before" class="form-control is-valid" placeholder="Creation period start" title="" id="id_doc_start_date_1"></div>
    &nbsp;
    <button class="btn btn-primary"><svg class="svg-inline--fa fa-filter fa-w-16" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="filter" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M487.976 0H24.028C2.71 0-8.047 25.866 7.058 40.971L192 225.941V432c0 7.831 3.821 15.17 10.237 19.662l80 55.98C298.02 518.69 320 507.493 320 487.98V225.941l184.947-184.97C520.021 25.896 509.338 0 487.976 0z"></path></svg><!-- <i class="fas fa-filter"></i> --></button>
    &nbsp;
    <a class="btn btn-primary" href="/display/authors/263/"><svg class="svg-inline--fa fa-times fa-w-11" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="times" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 352 512" data-fa-i2svg=""><path fill="currentColor" d="M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z"></path></svg><!-- <i class="fas fa-times"></i> --></a>

</form>