{% extends 'main/base.html' %}
{% load i18n %}
{% load transcriptiones %}
{% load crispy_forms_tags %}

{% block page_title %}
    {% translate 'Test Modals' %}
{% endblock %}

{% block content %}
    <div class="alert alert-dark">Canned Dialogs</div>
        <div class="row align-self-center">
          <div class="col offset-1">
            <button id="do-alert1" type="button" class="btn btn-primary">Alert</button>
            <button id="do-alert2" type="button" class="btn btn-primary">Alert Info</button>
            <button id="do-error1" type="button" class="btn btn-primary">Error</button>
            <button id="do-error2" type="button" class="btn btn-primary">Error Warning</button>
            <button id="do-confirm1" type="button" class="btn btn-primary"
              >Confirm 1</button>
            <button id="do-confirm2" type="button" class="btn btn-primary"
              >Confirm 2</button>
            <button id="do-entry" type="button" class="btn btn-primary"
              >Entry</button>
          </div>
        </div>
        <br/>

    <div class="alert alert-dark">Forms and AJAX Dialogs</div>
        <div class="row align-self-center">
          <div class="col offset-1">
            <button id="do-mydialog" type="button" class="btn btn-primary"
              >My Dialog</button>

            <button id="do-mydialog-errors" type="button" class="btn btn-primary"
              >My Dialog Set Errors</button>

            <button id="do-mydialog-clear" type="button" class="btn btn-primary"
              >My Dialog Clear Errors</button>

            <button id="do-form" type="button" class="btn btn-primary"
              >AJAX Modal</button>
          </div>
        </div>
        <br/>

        <div class="alert alert-dark">REST Dialogs</div>
        <div class="row align-self-center">
          <div class="col offset-1">
            <a href="/api/" target="_blank">api</a>
            <button id="do-rest-create" type="button" class="btn btn-primary"
              >Rest Create</button>
            <button id="do-rest-update" type="button" class="btn btn-primary"
              >Rest Update</button>
            <button id="do-rest-patch" type="button" class="btn btn-primary"
              >Rest Patch</button>
          </div>
        </div>

        {% include "bsmodals/alert.html" with no_click_off=True%}
        {% include "bsmodals/error.html" with no_click_off=True%}
        {% include "bsmodals/confirm.html" %}
        {% include "bsmodals/entry.html" %}

        {% include "main/tests/mydialog.html" with dialog_id="mydialog" title="My Dialog"%}
        {% include "main/tests/form.html" with dialog_id="myform" title="Sample Form" modal_size="modal-lg" no_click_off=True%}
        {% include "main/tests/institution.html" with dialog_id="institution" title="Institution" modal_size="modal-lg" no_click_off=True%}
        {% include "main/tests/pauthor.html" with dialog_id="partial-author" title="Partial Author" modal_size="modal-lg" no_click_off=True%}

{% endblock %}

{% block javascript %}
<script>
$(document).ready(function() {

  // --- Canned Dialogs

  $('#do-alert1').click( function() {
    bsmodals_alert('Alert Title', 'This is an <b>alert</b>');
  });

  $('#do-alert2').click( function() {
    bsmodals_alert('Aquamarine Alert', 'Another <b>alert</b>', style="btn-info");
  });

  $('#do-error1').click( function() {
    bsmodals_error('This is an error');
  });

  $('#do-error2').click( function() {
    bsmodals_error('A different <b>error</b>', style="btn-warning");
  });

  $('#do-confirm1').click( function() {
    bsmodals_confirm('Confirm Title', 'Choose <b>Yes</b> or No', (result)=>{
      if( result ) {
        console.debug('User chose Yes');
      } else {
        console.debug('User chose No');
      }
    });
  });

  $('#do-confirm2').click( function() {
    bsmodals_confirm('Serious Question', 'Choose <b>Red</b> or Green', (result)=>{
      if( result ) {
        console.debug('User chose Red');
      }
      else {
        console.debug('User chose Green');
      }
    }, yes_text="Red", yes_style="btn-danger", no_text="Green", no_style="btn-info");
  });

  $('#do-entry').click( function() {
      bsmodals_entry('Tell me something', 'Type a thing', (result)=>{
          alert("User typed " + result);
      }, submit_text="Special Submit", submit_style="btn-danger",
        cancel_text="Special Cancel", cancel_style="btn-info");
  });

  // --- Forms and AJAX Dialogs

  var mydialog = new FormModal('mydialog');
  $('#do-mydialog').click( function() {
    var data = {
        '#mydialog-title':'My Dialog Title',
        'message':'Foo and bar',
        'name':'John Doe',
        'number':'val3',
    }
    mydialog.show(data);
  });

  $('#do-mydialog-errors').click( function() {
    mydialog.set_errors({'name':['Required field']});
    mydialog.show({});
  });

  $('#do-mydialog-clear').click( function() {
    mydialog.clear_errors();
    mydialog.show({});
  });

  $('#mydialog-close').click( function() {
    mydialog.hide();
  });

  var myform = new AJAXModal('myform');
  $('#do-form').click( function() {
    var data = {}
    var clear_on_success = true;

    // uncomment to test with clear on success and data prepop
    data = {
      'name':'Bob',
      message:'This is a message',
    }
    clear_on_success=false;

    myform.show('/ajax_form/', data, (response)=>{
      console.log('Form response was:', response);
    }, clear_on_success);
  });

  // --- REST Dialogs

  var author_form = new RestModal('institution');

  $('#do-rest-create').click( function() {
    var data = {
      'name':'DefaultName',
      'description':'Default description',
    }
    author_form.show_create('/test_dd/', data, function(response) {
      bsmodals_alert('Created Author', 'It is done');
    });
  });

  $('#do-rest-update').click( function() {
    var data = {
      'name':'Bob Bobbly 2',
      'description':'More bob stuff',
      'rating':'B',
    }
    author_form.show_update('/api/authors/1/', data, function(response) {
      bsmodals_alert('Updated Author', 'It is also done');
    });
  });

  var paritial_author_form = new RestModal('partial-author');

  $('#do-rest-patch').click( function() {
    var data = {
      'name':'Bob Bobbly Patched',
    }
    paritial_author_form.show_patch('/api/authors/1/', data, (response)=>{
      bsmodals_alert('Patched Author', 'It is also done');
    });
  });

});
</script>
{% endblock %}

{% block additional_head_tags %}
    <script src="/static/bsmodals/bsmodals.js"></script>
    <script src="/static/bsmodals/restapi.js"></script>
{% endblock %}