{% load i18n %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% translate 'Transcriptiones registration' %}</title>
</head>
<body>
    {% include 'main/users/email_templates/email_html_header.html' %}

    {% blocktranslate %}
        Hi {{ user.username }}!<br/><br/>

        A warm welcome from the transcriptiones team. Please click the following Link or copy it in your browser to finalize your registration on {{ domain }}.
    {% endblocktranslate %}

    <br/>
    <a href="http://{{ domain }}{% url 'main:activate' uidb64=uid token=token %}">{% translate 'Click to finalize registration' %}</a>
    <br/>
    <small>(http://{{ domain }}{% url 'main:activate' uidb64=uid token=token %})</small>

    {% include 'main/users/email_templates/email_html_footer.html' %}
</body>
</html>